<ng-container *ngIf="isMobile$ | async; else isNotNativeTemplate">

    <ion-header translucent class="ion-hide-lg-down">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button (click)="toggleMenu()">
                    <ion-icon color="medium" name="custom-menu"></ion-icon>
                </ion-menu-button>
                <ion-back-button (click)="back()">
                    <ion-icon name="custom-arrow-back"></ion-icon>
                </ion-back-button>
            </ion-buttons>
            <ion-title mode="ios" class="multilines">
                <ion-text class="ion-text-wrap">
                    {{ title }}
                </ion-text>
            </ion-title>
            <ion-buttons slot="end">
                <ng-container *ngIf="isLoggedIn; else isNotLoggedIn">
                    <ion-button (click)="logout()" size="small" color="danger" fill="clear">Wyloguj</ion-button>
                </ng-container>
                <ng-template #isNotLoggedIn>
                    <ion-button [routerLink]="['/auth', 'login']" size="small" color="primary" fill="clear">Zaloguj
                        się
                    </ion-button>
                    <ion-button [routerLink]="['/auth', 'registration']" size="small" color="success" fill="solid">
                        Zarejestruj się
                    </ion-button>
                </ng-template>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-header translucent class="ion-hide-lg-up">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button (click)="toggleMenu()">
                    <ion-icon color="medium" name="custom-menu"></ion-icon>
                </ion-menu-button>
                <ion-back-button (click)="back()">
                    <ion-icon name="custom-arrow-back"></ion-icon>
                </ion-back-button>
            </ion-buttons>
            <ion-title mode="ios" class="multilines">
                <ion-text class="ion-text-wrap">
                    {{ title }}
                </ion-text>
            </ion-title>
        </ion-toolbar>
    </ion-header>

</ng-container>

<ng-template #isNotNativeTemplate>

    <div class="desktop-header">

        <div class="desktop-header-title">
            <a href="javascript:void(0)" routerLink="/">
                reservation-platform
            </a>
            <ion-badge color="tertiary">
                BETA
            </ion-badge>
        </div>
        <div class="desktop-header-menu">
            <ul>
                <ng-container *ngIf="isLoggedIn; else isNotLoggedInTemplate">
                    <ng-container *ngIf="profile$ | async as profile; else loadingTemplate">
                        <li [routerLink]="['/profile']">
                            Profil & Rezerwacje
                        </li>
                        <ng-container
                                *ngIf="profile.companies && profile.companies.length > 0; else companiesIfEmptyTemplate">
                            <ion-button [routerLink]="['/business']" class="ion-margin-start" color="tertiary">
                                Moje usługi
                            </ion-button>
                        </ng-container>
                        <ng-template #companiesIfEmptyTemplate>
                            <ion-button routerAnimation="" class="ion-margin-start"
                                        [routerLink]="['/auth', 'registration-company']" color="tertiary">
                                Dodaj usługę
                            </ion-button>
                        </ng-template>
                    </ng-container>

                    <ion-button class="ion-margin-start" (click)="logout()" color="danger" fill="clear">
                        Wyloguj
                    </ion-button>
                </ng-container>
                <ng-template #isNotLoggedInTemplate>
                    <li [routerLink]="['/auth', 'login']">Zaloguj się</li>
                    <li [routerLink]="['/auth', 'registration']">Zarejestruj się</li>
                </ng-template>
            </ul>
        </div>

    </div>

</ng-template>

<ng-template #loadingTemplate>
    <ion-spinner name="crescent"></ion-spinner>
</ng-template>
