<ion-card class="ion-no-margin-start ion-no-margin-end worker-card">
    <div (click)="openService()">
        <ng-container
                *ngIf="item.service.images && item.service.images.length > 0 && item.service.images[0].link && item.service.images[0].link.length > 0">

            <div class="card-header">
                <app-img
                        [alt]="item.service.images[0].name"
                        [src]="item.service.images[0].link"
                        [useAspectRation]="true">

                </app-img>
                <ng-container *ngIf="role === roles.COMPANY">
                    <div [class.is-enabled]="item.service.enabled" class="card-header-enabled">
                        {{ item.service.enabled ? 'Włączona' : 'Wyłączona' }}
                    </div>
                </ng-container>
                <div class="card-header-score">
                    <bar-rating [rate]="item.score" [readOnly]="true" [theme]="'stars'"></bar-rating>
                </div>
                <div class="information">
                    <div class="interval">
                        <ion-icon name="custom-stopwatch-outline"></ion-icon>
                        {{ item.service.interval | stringTimeConvert }}
                    </div>
                    <div class="price">
                        {{ item.service.price }}{{ item.service.priceTo ? ' - ' + item.service.priceTo : '' }}&nbsp;zł
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="card-content">

            <ng-container *ngIf="item.service.categoryName">
                <div class="category-name">
                    {{ item.service.categoryName }}
                </div>
            </ng-container>
            <div [innerHTML]="item.service.name" class="service-name">
            </div>
            <div *ngIf="item?.worker?.company && item?.worker?.company?.typeCompanyId > 1" class="company">
                <ion-avatar>
                    <app-img [src]="item.worker.company.logoLink"></app-img>
                </ion-avatar>
                <div class="company-name">
                    <ion-text color="medium">
                        {{ item.worker.company.name }}
                    </ion-text>
                </div>
            </div>

            <div class="worker">
                <ion-avatar>
                    <app-img [isAvatar]="true" [src]="item.worker.photo"></app-img>
                </ion-avatar>
                <div class="worker-right">
                    <div class="worker-right-full-name">
                        <ion-text color="medium">
                            {{ item.worker.firstName }} {{ item.worker.lastName }}
                        </ion-text>
                    </div>
                    <div class="worker-right-score">

                        <bar-rating [rate]="item.worker.score" [readOnly]="true" [theme]="'stars'"></bar-rating>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <ng-container *ngIf="role === roles.COMPANY">

        <ion-footer>
            <ion-button (click)="openWorkTime()" expand="full" fill="clear">
                Pogląd godziny pracy
            </ion-button>
        </ion-footer>

        <!--        <ion-footer>-->
        <!--            <ion-button (click)="openReservationForm()" expand="full" fill="clear">-->
        <!--                Dodaj rezerwacje-->
        <!--            </ion-button>-->
        <!--        </ion-footer>-->

        <ion-footer>
            <ion-button [routerLink]="['/category', item.service.categoryName, 'service', item.id]" expand="full"
                        fill="clear" routerDirection="root">
                Przejdź
            </ion-button>
        </ion-footer>

    </ng-container>

</ion-card>
