@media screen and (min-width: 768px) {

  #main-content-desktop {

    &.ion-page {

      &.client {

        .ion-page {

          >ion-content {
            --padding-start: calc(50% - 610px);
            --padding-end: calc(50% - 610px);

          }

        }

      }

    }

  }

}

@media screen and (min-width: 768px) and (max-width: 1236px) {

  #main-content-desktop {

    &.ion-page {

      &.client {

        .ion-page {

          >ion-content {
            --padding-start: 18px;
            --padding-end: 18px;
            --padding-top: 0px;
            --padding-bottom: 18px;

          }

        }

      }

    }

  }

}

@media screen and (max-width: 767px) {

  .mobile {
    &-width {
      &-100 {
        width: 100%;
      }
    }
  }

  #main-content {

    &.ion-page {

      &.client {

        .ion-page {

          >ion-content {
            --padding-start: 18px;
            --padding-end: 18px;
            --padding-top: 0px;
            --padding-bottom: 18px;

          }

        }

      }

    }

  }


}
