
<div class="filter-panel">
  <ng-container *ngIf="searchParams">
    <ion-chip [disabled]="!searchParams.category" [color]="searchParams.category ? 'primary' : 'dark'"
              (click)="clearSelectedCategory()">
        <ion-label><strong>Kategoria</strong>:
            {{ searchParams.category ? searchParams.category.name : 'Wybierz kategorie' }}

        </ion-label>
        <ion-icon name="custom-close-circle-outline"></ion-icon>
    </ion-chip>
  </ng-container>
  <ion-chip (click)="openFilter($event)" [disabled]="!selectedOrderBy" [color]="selectedOrderBy ? 'primary' : 'dark'">
    <ion-label><strong>Sortowanie</strong>: {{ selectedOrderBy ? selectedOrderBy.name : 'Wybierz sortowanie' }}</ion-label>
  </ion-chip>
</div>
<app-default-container
        [item$]="pwsList$"
        [hasModels]="true"
        [useLoadMoreData]="true"
        (onLoadMoreData)="loadData()"
        (onRefresh)="refreshContent()">

  <ng-container *ngIf="pwsList$ | async as pwsList">

    <ion-row>

      <ng-container *ngFor="let item of pwsList.models; trackBy: trackByFn">

        <ion-col size="12" size-xl="3" size-md="4" size-sm="6">

          <app-client-worker-component
                  (selectedSlot)="selectSlot($event, item)"
                  [item]="item">

          </app-client-worker-component>

        </ion-col>

      </ng-container>

    </ion-row>

  </ng-container>

</app-default-container>
