ion-tab-bar.reservation-platform-bar-top {

  app-top-bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;

    .title {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .reservation-platform-bar-top-right {
      display: flex;
      align-items: center;
      height: inherit;

      .reservation-platform-menu-icon {
        margin-left: 14px;
        margin-right: 1px
      }
    }

  }
}
