<ion-header translucent>
    <ion-toolbar>
        <ion-title class="multilines" mode="ios">
            <ion-text class="ion-text-wrap">
                Godziny pracy
            </ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-card-content class="ion-no-padding">

        <ng-container *ngFor="let workTime of item.workTime">

            <ion-item (click)="openForm(workTime)" button lines="full">
                <ion-label class="ion-no-margin">
                    {{ workTime.weekday | weekdayName }}:
                </ion-label>
                <ion-note class="ion-no-padding ion-text-end" slot="end">
                    <ion-text>
                        Przerwa: {{ workTime.break | stringTimeConvert }}
                    </ion-text>
                    <p>
                        {{ workTime.startAt | stringTimeConvert }} - {{ workTime.endAt | stringTimeConvert }}
                    </p>
                </ion-note>
            </ion-item>

        </ng-container>

    </ion-card-content>

</ion-content>

<ion-footer>
    <ion-button (click)="openForm()" expand="full" fill="clear">
        Dodaj godzinę pracy
    </ion-button>
</ion-footer>
