<ng-container *ngIf="inModal">

    <ion-header translucent>
        <ion-toolbar>
            <ion-title mode="ios" class="multilines">
                <ion-text class="ion-text-wrap">
                    Wybierz termin
                </ion-text>
            </ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="dismissModal()">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>

        <ion-refresher (ionRefresh)="refreshContent($event)" slot="fixed">

            <ion-refresher-content
                    pullingText="Pociągnij aby odświeżyć.."
                    refreshingText="Odświeżanie...">
            </ion-refresher-content>

        </ion-refresher>

        <ng-container *ngTemplateOutlet="calendar">

        </ng-container>


    </ion-content>

</ng-container>
<ng-container *ngIf="!inModal">

    <ng-container *ngTemplateOutlet="calendar">

    </ng-container>

</ng-container>

<ng-template #calendar>
    <div class="calendar-days-slots">

        <div class="calendar-days-slots__header">

            <ion-row>

                <ion-col size="3" class="ion-text-start">

                    <ion-button class="calendar-days-slots__header__prev-day" fill="clear" (click)="prevDays()">
                        <ion-icon name="custom-chevron-back-circle-outline" slot="icon-only"></ion-icon>
                    </ion-button>

                </ion-col>

                <ion-col size="6">

                    <div class="calendar-days-slots__header__month-name">

                        <strong>

                            {{ currentDate.format('DD.MM') }}
                            <small class="calendar-days-slots__header__month-name__year">{{ currentDate.format('YYYY') }}</small>

                        </strong>

                        -

                        <strong>

                            {{ currentDate.clone().add(daysCount - 1, 'days').format('DD.MM') }}
                            <small class="calendar-days-slots__header__month-name__year">{{ currentDate.clone().add(daysCount - 1, 'days').format('YYYY') }}</small>

                        </strong>

                    </div>

                </ion-col>

                <ion-col size="3" class="ion-text-end">

                    <ion-button class="calendar-days-slots__header__next-day" fill="clear" (click)="nextDays()">
                        <ion-icon name="chevron-forward-circle-outline" slot="icon-only"></ion-icon>
                    </ion-button>

                </ion-col>

            </ion-row>

        </div>

        <div class="calendar-days-slots__content">

            <div class="calendar-days-slots__content__loader show">

                <ion-row>

                    <ion-col size="12" class="ion-text-center">
                        <ion-spinner name="crescent"></ion-spinner>
                    </ion-col>

                </ion-row>

            </div>

            <div class="calendar-days-slots__content__days-with-slots hide">

                <ng-container *ngFor="let day of days; trackBy: trackByDayFn">

                    <div class="calendar-days-slots__content__days-with-slots__day" [style]="dayConfig">

                        <div class="calendar-days-slots__content__days-with-slots__day__header">

                            <div class="calendar-days-slots__content__days-with-slots__day__header__day-name" [innerHTML]="day.dayName">

                            </div>

                            <div class="calendar-days-slots__content__days-with-slots__day__header__day-number">

                                <small [innerHTML]="day.dayNumber"></small>

                            </div>

                        </div>
                        <div class="calendar-days-slots__content__days-with-slots__day__slots">

                            <ng-container *ngFor="let slot of day.slots; trackBy: trackByFn">

                                <ion-button
                                        size="small"
                                        [disabled]="slot.status === slotStatus.disabled"
                                        color="tertiary"
                                        (click)="selectSlot(day, slot)">

                                    <strong>{{ slot.status === slotStatus.enabled ? slot.start : '-' }}</strong>

                                </ion-button>

                            </ng-container>

                        </div>

                    </div>

                </ng-container>

            </div>

            <ng-container *ngIf="slotsIsEmpty">
                <ion-row>
                    <ion-col class="ion-padding-top ion-margin-top ion-text-center">
                        <ion-text color="medium">
                            Brak terminów
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ng-container>

        </div>

    </div>
</ng-template>
