<ion-content>

  <app-header></app-header>

  <ion-list lines="full">
    <ion-list-header>
      Dokumenty
    </ion-list-header>
    <ion-item [routerLink]="['knowledge-base']">
      <ion-icon name="custom-document-text-outline" slot="start"></ion-icon>
      Baza wiedzy
    </ion-item>
    <ion-item [routerLink]="['regulamin']">
      <ion-icon name="custom-document-text-outline" slot="start"></ion-icon>
      Regulamin
    </ion-item>
  </ion-list>

  <app-footer></app-footer>

</ion-content>
