<ion-content>
    <app-header></app-header>

    <ion-refresher (ionRefresh)="refreshContent($event)" slot="fixed">

        <ion-refresher-content
                pullingText="Pociągnij aby odświeżyć.."
                refreshingText="Odświeżanie...">
        </ion-refresher-content>

    </ion-refresher>


    <app-default-container
            (onRefresh)="refreshContent()"
            [item$]="onPws$">

        <ng-container *ngIf="onPws$ | async as pws">

            <ion-header>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-button (click)="back()">
                            <ion-icon name="custom-chevron-back-outline" slot="start"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-title class="multilines" mode="ios">
                        <ion-text class="ion-text-wrap">
                            Podgląd usługi
                        </ion-text>
                    </ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="openEdit(pws.service)" color="primary">
                            Edytuj
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>

            <ion-row>
                <ion-col offset-md="3" size="12" size-md="6">

                    <ion-list lines="full">

                        <ion-item>
                            <strong>Włączona: </strong>
                            <ion-toggle (click)="changeEnabled(pws)" [(ngModel)]="pws.service.enabled"
                                        name="blueberry"
                                        slot="end"></ion-toggle>
                        </ion-item>

                    </ion-list>

                    <app-company-view-service [service]="pws.service">

                    </app-company-view-service>

                </ion-col>
            </ion-row>

        </ng-container>

    </app-default-container>

    <app-footer></app-footer>

</ion-content>
