.sc-ion-alert-md-h {
  --width: 500px;
  --max-width: auto;

}

.alert-checkbox-label {
  white-space: normal !important;
}

.alert-tappable {
  contain: none !important;
  height: auto !important;
}
