@mixin hide() {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 0s, opacity 0.5s, height .5s linear;

}

:root {
  //--ion-safe-area-top: 20px;
  //--ion-safe-area-bottom: 22px;

  .show {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: visibility 0s, opacity 0.5s, height .5s linear;

  }

  #to-up {

    ion-fab-button {
      width: 100px;
      height: 30px;
      font-size: 11px;
      --border-radius: 20px;

    }

  }

  .reservation-status-list {
    display: flex;
    flex-wrap: wrap;

    .reservation-status-chip {
      padding: 6px;
      border-radius: 20px;
      margin-left: 9px;
      margin-top: 3px;
      margin-bottom: 3px;

    }

  }

  .reservation-status {
    &-0 {
      color: #b71c1c;
      background: #ffcdd2;
    }

    &-1 {
      color: #212121;
      background: #ffecb3;
    }

    &-2 {
      color: #1b5e20;
      background: #c8e6c9;
    }

    &-3 {
      color: #263238;
      background: #cfd8dc;
    }

    &-4 {
      color: #b71c1c;
      background: #ffcdd2;
    }

    &-5 {
      color: #212121;
      background: #9e9e9e;
    }

    &-7 {
      color: #eceff1;
      background: #263238;
    }
  }

}

ion-app.md,
ion-app.ios {

  font-family: var(--ion-font-family);

}

.ion-page {
  //padding-top: 50px;
}

.display {

  &-flex {
    display: flex;

  }

  &-block {
    display: flex;

  }

}

ion-avatar {

  img {
    border-radius: 6px;

  }

}

.width {

  &-100 {
    width: 100%;

  }

}

.infinite-scroll {
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: 40px;

  ion-infinite-scroll {
    @include hide();
    height: auto;

  }

}

.no-inner-padding-end {
  --padding-end: 0px;
  --inner-padding-end: 0px;

}

.filter {
  &-panel {
    //position: sticky;
    //top: 13px;

    ion-chip {
      line-height: 1.3;
      height: auto;
    }
  }
}

.line-height- {
  &1-1 {
    line-height: 1.1;
    >* {
      line-height: 1.1;
    }
  }
}

.ion-no-padding-start {
  --padding-start: 0;
  padding-left: 0;

}

.ion-no-padding-end {
  --padding-end: 0;
  padding-right: 0;

}

.ion-no-margin-start {
  --margin-start: 0;
  margin-left: 0;

}

.ion-no-margin-end {
  --margin-end: 0;
  margin-right: 0;

}

ion-searchbar {

  &.sc-ion-searchbar-md-h {
    padding-inline-start: 0;
    padding-inline-end: 0;

  }

}

.half-page {
  min-height: 50vh;

}

ion-content {

  ion-header {

    &.header-md::after {
      background: unset;

    }

    ion-toolbar {
      --background: unset;
      --border-color: rgba(0,0,0,0);
      --padding-start: 18px;
      --padding-end: 18px;
      --min-height: 62px;

      ion-buttons {

        ion-back-button {
          font-size: 11px;

        }

      }

      ion-title {
        font-size: 16px;
        font-weight: bold;
        text-align: center;

        &.multilines {
          padding: 0 18px;

        }

      }

    }

  }

}

ion-menu, #main-content-company, #main-content-worker {

  ion-header {

    ion-toolbar {
      --background: unset;
      --padding-start: 18px;
      --padding-end: 18px;
      --min-height: 62px;

      ion-buttons {

        ion-back-button {
          font-size: 11px;

        }

      }

      ion-title {
        font-size: 16px;
        font-weight: bold;
        text-align: center;

        &.multilines {
          padding: 0 18px;

        }

      }

    }

  }

}

#side-menu {
  --side-max-width: 250px;

}

#side-menu-company {
  --side-max-width: 250px;

}

#side-menu-worker {
  --side-max-width: 250px;

}

ion-item {
  --min-height: 35px;
}
