<ion-header translucent>
    <ion-toolbar>
        <ion-title mode="ios" class="multilines">
            <ion-text class="ion-text-wrap">
                Komentarz
            </ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="form">

        <ion-list lines="full">
            <app-input [formControlName]="'scoreService'"
                       [placeholder]="'Jak oceniasz usługę?'"
                       [position]="'stacked'"
                       [type]="'range'">
            </app-input>

            <app-input [formControlName]="'scoreWorker'"
                       [placeholder]="'Jak oceniasz prowadzącego?'"
                       [position]="'stacked'"
                       [type]="'range'">
            </app-input>

            <app-input [formControlName]="'comment'"
                       [placeholder]="'Zostaw komentarz'"
                       [position]="'floating'"
                       [type]="'textarea'">
            </app-input>
            <ion-text color="medium" class="ion-padding-start">
                <small>wpisz więcej niz 10 znaków</small>
            </ion-text>

        </ion-list>

    </form>

</ion-content>

<ion-footer>
    <ion-button [disabled]="form.invalid" class="ion-no-margin" expand="full" size="large" color="success" (click)="create()">
        <strong>Wyślij</strong>
    </ion-button>
</ion-footer>
