<ion-header translucent>
    <ion-toolbar>
        <ion-title class="multilines" mode="ios">
            <ion-text class="ion-text-wrap">
                Formularz rezerwacji
            </ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>


    <form [formGroup]="form">
        <app-input [formControlName]="'userEmail'"
                   [placeholder]="'E-mail klienta:'">
        </app-input>

        <ion-item (click)="openCalendar()" button lines="full">
            <ion-label
                    [color]="form.touched && form.controls['date'].invalid && form.controls['start'].invalid ? 'danger' : 'dark'">
                Kiedy i o której:
            </ion-label>
            <ion-text slot="end">
                <ng-container *ngIf="form.touched">
                    <ng-container
                            *ngIf="form.controls['date'].valid && form.controls['start'].valid; else calendarErrorTemplate">
                        {{ form.controls['date'].value }}
                        {{ form.controls['start'].value }}
                    </ng-container>
                    <ng-template #calendarErrorTemplate>
                        <div class="app-input-title">
                            Pole Należy Wypełnić
                        </div>
                    </ng-template>
                </ng-container>
            </ion-text>
        </ion-item>

        <ion-item lines="full">
            <ion-label>Status:</ion-label>
            <ion-select (ionChange)="changeStatus($event)" [formControlName]="'status'" cancelText="Anuluj">
                <ng-container *ngFor="let status of (null | reservationStatus: 'getArray'); let index = index">
                    <ng-container *ngIf="[1,2].includes(index)">
                        <ion-select-option [value]="index">{{ status }}</ion-select-option>
                    </ng-container>
                </ng-container>
            </ion-select>
        </ion-item>

        <app-input
                [formControlName]="'createRoom'"
                [placeholder]="'Przygotować spotkanie:'"
                [position]="undefined"
                type="toggle">
        </app-input>


    </form>

</ion-content>
<ion-footer>
    <ion-button (click)="create()" expand="full" fill="clear">
        Stwórz rezerwację
    </ion-button>
</ion-footer>
