<ion-header translucent>
  <ion-toolbar>
    <ion-title mode="ios" class="multilines">
      <ion-text class="ion-text-wrap">
        Zaloguj się
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
          <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <app-client-login-form [offsetMd]="0" [sizeMd]="12" [useInModel]="true" (closeModal)="this.dismissModal()">

  </app-client-login-form>

    <!--  <ion-text>-->
    <!--    <h1>Hejka <ion-icon name="custom-happy-outline"></ion-icon></h1>-->
    <!--  </ion-text>-->

<!--  <h4>-->
<!--    Dzięki że jesteś z nami!-->
<!--  </h4>-->

<!--  <p>-->
<!--    ale żeby zrealizować rezerwacje musisz posiadać konto i być zalogowanym, wiec, jak masz konto to-->
<!--  </p>-->
<!--  <p>-->
    <!--    <ion-button color="tertiary" (click)="openLoginPage()">-->
    <!--      zaloguje się-->
<!--    </ion-button>-->
<!--  </p>-->
<!--  <p>-->
<!--    a jak nie to-->
<!--  </p>-->
    <!--  <p>-->
    <!--    <ion-button color="tertiary" (click)="openRegistrationPage()">-->
    <!--      zarejestruj się-->
<!--    </ion-button>-->
<!--  </p>-->

</ion-content>
