<ion-list>
    <!--          <ion-list-header>Karbashevskyi Ivan</ion-list-header>-->
    <!--          <ion-note>hi@ionicframework.com</ion-note>-->


    <ion-menu-toggle auto-hide="false">
        <!--    <ng-container *ngIf="module === 'company' || module === 'worker'">-->

        <!--      <ion-item [routerLink]="['/home']" routerDirection="root" lines="none" detail="false">-->
        <!--        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>-->
        <!--        <ion-label>Powrót do klienta</ion-label>-->
        <!--      </ion-item>-->

        <!--      <ion-item [routerLink]="['/panel']" routerDirection="root" lines="none" detail="false">-->
        <!--        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>-->
        <!--        <ion-label>Powrót do wyboru</ion-label>-->
        <!--      </ion-item>-->
        <!--&lt;!&ndash;      <ng-container *ngIf="profile && ((profile.companies.length > 1 || profile.jobs.length > 1) || (profile.companies.length > 0 && profile.jobs.length > 0))">&ndash;&gt;-->


        <!--&lt;!&ndash;      </ng-container>&ndash;&gt;-->

        <!--    </ng-container>-->

        <ng-container *ngFor="let page of appPages; let i = index">

            <ion-item
                    (click)="selectedIndex = i"
                    [class.selected]="selectedIndex === i"
                    [routerLinkActive]="['active']"
                    [routerLink]="[page.url]"
                    detail="false"
                    lines="none"
                    routerDirection="root">

                <ion-icon [icon]="'custom-' + page.icon" slot="start"></ion-icon>
                <ion-label>{{ page.title }}</ion-label>

            </ion-item>

        </ng-container>

        <ng-container *ngIf="module === 'client'">

            <ng-container *ngIf="isLoggedIn">

                <div class="ion-padding">


                    <ng-container *ngIf="profile">
                        <ng-container
                                *ngIf="profile.companies && profile.companies.length > 0; else companiesIfEmptyTemplate">
                            <ion-button [routerLink]="['/business']" color="tertiary" expand="block"
                                        routerDirection="forward">
                                Moje usługi
                            </ion-button>
                        </ng-container>
                        <ng-template #companiesIfEmptyTemplate>
                            <ion-button (click)="closeMenu()" [routerLink]="['/auth', 'registration-company']"
                                        expand="block" routerDirection="forward">
                                Dodaj usługę
                            </ion-button>
                        </ng-template>
                    </ng-container>


                    <ion-button (click)="logout()" color="danger" expand="block">
                        Wyloguj
                    </ion-button>

                </div>

            </ng-container>

        </ng-container>

    </ion-menu-toggle>

</ion-list>
