:root {
  .app-input-title {
    position: absolute;
    padding: 0;
    right: 18px;
    color: var(--ion-color-danger);
    bottom: 0;
    font-size: 11px;
    z-index: 1;
    transition: all 0.1s ease-in-out, background 0s;
    text-transform: uppercase;
    transform-origin: top;
    pointer-events: none;

    &.disabled {
      //background: #EBF0F5;
      opacity: 1;
    }

    &.toggle {
      top: -4px;
      bottom: unset;
      font-size: 10px;
    }

  }

  .app-input-icon {
    cursor: pointer;

  }
}
