<ion-content>
    <app-header></app-header>

    <ion-refresher (ionRefresh)="refreshContent($event)" slot="fixed">

        <ion-refresher-content
                pullingText="Pociągnij aby odświeżyć.."
                refreshingText="Odświeżanie...">
        </ion-refresher-content>

    </ion-refresher>

    <div class="pws">

        <ng-container *ngIf="onIsMobile() | async as isMobile; else isNotMobileTemplate">

            <ion-list>

                <ion-button expand="block" color="light" class="ion-margin-bottom" (click)="back()">
                    <ion-icon color="medium" name="custom-chevron-back-outline" slot="start"></ion-icon>
                    Powrót
                </ion-button>

            </ion-list>

            <app-default-container [item$]="item$" (onRefresh)="refreshContent($event)">

                <ng-container *ngIf="item$ | async as item;">

                    <div class="pws-content">

                        <ion-card class="ion-no-margin ion-margin-bottom">

                            <ng-container
                                    *ngIf="item.service.images && item.service.images.length > 0 && item.service.images[0].link && item.service.images[0].link.length > 0">

                                <div class="service-image">
                                    <app-img [alt]="item.service.images[0].name"
                                             [src]="item.service.images[0].link"></app-img>
                                </div>
                            </ng-container>

                            <ion-card-content>

                                <ion-list lines="none">

                                    <ion-item class="ion-text-left ion-no-padding">
                                        <ion-text>
                                            <strong [innerHTML]="item.service.name">
                                            </strong>
                                        </ion-text>
                                    </ion-item>

                                    <ion-item class="ion-text-left ion-no-padding ion-margin-top">

                                        <ion-text [innerHTML]="item.service.description">

                                        </ion-text>

                                    </ion-item>

                                </ion-list>

                            </ion-card-content>

                        </ion-card>

                        <ion-card class="ion-no-margin ion-margin-bottom information">

                            <ng-container *ngIf="item?.worker?.company && item?.worker?.company?.typeCompanyId > 1">

                                <div class="information-company">

                                    <ion-card-header>

                                        <ion-avatar>
                                            <app-img [isAvatar]="true" [src]="item.worker.company.logoLink"></app-img>
                                        </ion-avatar>
                                        <div>
                                            <ion-card-subtitle>
                                                <strong>
                                                    {{ item.worker.company.name }}
                                                </strong>
                                            </ion-card-subtitle>
                                        </div>

                                    </ion-card-header>

                                </div>

                            </ng-container>

                            <div class="information-worker">

                                <ion-card-header>

                                    <ion-avatar>
                                        <app-img [isAvatar]="true" [src]="item.worker.photo"></app-img>
                                    </ion-avatar>
                                    <div class="information-worker-right">
                                        <ion-card-subtitle>
                                            <ion-text color="medium">
                                                <small>Prowadzący</small>
                                            </ion-text>
                                        </ion-card-subtitle>
                                        <ion-card-subtitle>
                                            <strong>
                                                {{ item.worker.lastName }} {{ item.worker.firstName }}
                                            </strong>
                                        </ion-card-subtitle>
                                        <ion-card-subtitle class="score">
                                            <bar-rating [theme]="'stars'" [readOnly]="true"
                                                        [rate]="item.worker.score"></bar-rating>
                                        </ion-card-subtitle>
                                    </div>

                                </ion-card-header>

                            </div>

                        </ion-card>

                        <ion-card class="ion-no-margin ion-margin-bottom">
                            <ion-card-header>

                                <ion-list lines="none">
                                    <ion-item class="ion-no-padding">
                                        <ion-label class="ion-no-margin">
                                            <ion-text color="medium">
                                                <strong>
                                                    Cena
                                                </strong>
                                            </ion-text>
                                        </ion-label>
                                        <ion-text>
                                            {{ item.service.price }}{{ item.service.priceTo ? ' - ' + item.service.priceTo : '' }}&nbsp;zł
                                        </ion-text>
                                    </ion-item>

                                    <ion-item class="ion-no-padding">
                                        <ion-label class="ion-no-margin">
                                            <ion-text color="medium">
                                                <strong>
                                                    Czas
                                                </strong>
                                            </ion-text>
                                        </ion-label>
                                        <ion-text>
                                            {{ item.service.interval | stringTimeConvert }} godz.
                                        </ion-text>
                                    </ion-item>

                                </ion-list>

                            </ion-card-header>
                            <!--                            <ion-card-header class="border-dashed-top ion-no-padding">-->

                            <!--                                <ion-list lines="none" class="ion-no-padding">-->
                            <!--                                    <ion-item button>-->
                            <!--                                        <div class="score">-->
                            <!--                                            <bar-rating [theme]="'stars'" [readOnly]="true"-->
                            <!--                                                        [rate]="item.score"></bar-rating>-->
                            <!--                                        </div>-->
                            <!--                                        <ion-text slot="end" color="medium">-->
                            <!--                                            <small>opinii {{ item.numberOfComments }}</small>-->
                            <!--                                        </ion-text>-->
                            <!--                                    </ion-item>-->

                            <!--                                </ion-list>-->

                            <!--                            </ion-card-header>-->
                            <!--                            <ion-card-header>-->

                            <!--                                <ion-button fill="outline" color="medium" (click)="bookmark()" expand="block">-->
                            <!--                                    <ion-icon slot="start" name="custom-bookmark-outline"></ion-icon>-->
                            <!--                                    Zapisz-->
                            <!--                                </ion-button>-->

                            <!--                            </ion-card-header>-->

                        </ion-card>

                        <ion-card class="pws-comment-list ion-no-margin ion-margin-bottom">

                            <ion-card-content>

                                <ion-list class="ion-no-padding" lines="none">

                                    <ion-item class="ion-text-left ion-no-padding">
                                        <ion-text color="medium">
                                            <strong>
                                                Opinii ({{ item.numberOfComments }})
                                            </strong>
                                        </ion-text>
                                        <ion-text slot="end">
                                            <div class="pws-score">
                                                <bar-rating [theme]="'stars'" [readOnly]="true"
                                                            [rate]="item.score"></bar-rating>
                                            </div>
                                        </ion-text>
                                    </ion-item>

                                </ion-list>

                            </ion-card-content>

                        </ion-card>


                        <app-client-service-comment-list
                                [item]="item">

                        </app-client-service-comment-list>


                    </div>

                </ng-container>

            </app-default-container>

        </ng-container>

        <ng-template #isNotMobileTemplate>

            <ion-row>

                <ion-col size-md="8">
                    <ion-list>

                        <ion-item lines="none" button="" class="ion-text-center" (click)="back()">
                            <ion-icon name="custom-chevron-back-outline" slot="start"></ion-icon>
                            Powrót
                        </ion-item>

                    </ion-list>

                    <!--                    <ion-row>-->

                    <!--                        <ion-col>-->

                    <!--                            <ion-list>-->

                    <!--                                <ion-item lines="none" button="" class="ion-text-center" (click)="back()">-->
                    <!--                                    <ion-icon slot="start" name="chevron-back-outline"></ion-icon>-->
                    <!--                                    Powrót-->
                    <!--                                </ion-item>-->

                    <!--                            </ion-list>-->
                    <!--                        </ion-col>-->
                    <!--                        <ion-col class="display-flex ion-justify-content-end ion-align-items-center">-->
                    <!--                            <ion-button fill="clear" color="medium" (click)="bookmark()" expand="block">-->
                    <!--                                <ion-icon slot="start" name="bookmark-outline"></ion-icon>-->
                    <!--                                Zapisz-->
                    <!--                            </ion-button>-->
                    <!--                        </ion-col>-->

                    <!--                    </ion-row>-->


                    <app-default-container [item$]="item$" (onRefresh)="refreshContent($event)">

                        <ng-container *ngIf="item$ | async as item;">

                            <div class="pws-content">


                                <ion-card class="ion-no-margin ion-no-padding ion-margin-bottom">
                                    <ng-container
                                            *ngIf="item.service.images && item.service.images.length > 0 && item.service.images[0].link && item.service.images[0].link.length > 0">

                                        <div class="service-image">
                                            <app-img [alt]="item.service.images[0].name"
                                                     [src]="item.service.images[0].link"></app-img>
                                        </div>
                                    </ng-container>
                                </ion-card>

                                <ion-card class="ion-no-margin ion-margin-bottom information">

                                    <ng-container
                                            *ngIf="item?.worker?.company && item?.worker?.company?.typeCompanyId > 1">

                                        <div class="information-company">

                                            <ion-card-header>

                                                <ion-avatar>
                                                    <app-img [isAvatar]="true"
                                                             [src]="item.worker.company.logoLink"></app-img>
                                                </ion-avatar>
                                                <div>
                                                    <ion-card-subtitle>
                                                        <strong>
                                                            {{ item.worker.company.name }}
                                                        </strong>
                                                    </ion-card-subtitle>
                                                </div>

                                            </ion-card-header>

                                        </div>

                                    </ng-container>

                                    <div class="information-worker">

                                        <ion-card-header>

                                            <ion-avatar>
                                                <app-img [isAvatar]="true" [src]="item.worker.photo"></app-img>
                                            </ion-avatar>
                                            <div class="information-worker-right">
                                                <ion-card-subtitle>
                                                    <ion-text color="medium">
                                                        <small>Prowadzący</small>
                                                    </ion-text>
                                                </ion-card-subtitle>
                                                <ion-card-subtitle>
                                                    <strong>
                                                        {{ item.worker.lastName }} {{ item.worker.firstName }}
                                                    </strong>
                                                </ion-card-subtitle>
                                                <ion-card-subtitle class="score">
                                                    <bar-rating [theme]="'stars'" [readOnly]="true"
                                                                [rate]="item.worker.score"></bar-rating>
                                                </ion-card-subtitle>
                                            </div>

                                        </ion-card-header>

                                    </div>

                                </ion-card>

                                <ion-card class="ion-no-margin ion-margin-bottom">

                                    <ion-card-content>

                                        <ion-list class="ion-no-padding" lines="none">

                                            <ion-item class="ion-text-left ion-no-padding">
                                                <ion-text>
                                                    <strong [innerHTML]="item.service.name">
                                                    </strong>
                                                </ion-text>
                                            </ion-item>

                                            <ion-item class="ion-text-left ion-no-padding ion-margin-top">

                                                <ion-text [innerHTML]="item.service.description">
                                                </ion-text>

                                            </ion-item>

                                        </ion-list>

                                    </ion-card-content>

                                </ion-card>

                                <ion-card class="pws-comment-list ion-no-margin ion-margin-bottom">

                                    <ion-card-content>

                                        <ion-list class="ion-no-padding" lines="none">

                                            <ion-item class="ion-text-left ion-no-padding">
                                                <ion-text color="medium">
                                                    <strong>
                                                        Opinii ({{ item.numberOfComments }})
                                                    </strong>
                                                </ion-text>
                                                <ion-text slot="end">
                                                    <div class="pws-score">
                                                        <bar-rating [theme]="'stars'" [readOnly]="true"
                                                                    [rate]="item.score"></bar-rating>
                                                    </div>
                                                </ion-text>
                                            </ion-item>

                                        </ion-list>

                                    </ion-card-content>

                                </ion-card>

                                <app-client-service-comment-list
                                        [item]="item">

                                </app-client-service-comment-list>

                            </div>

                        </ng-container>
                    </app-default-container>

                </ion-col>
                <ion-col size-md="4">


                    <app-default-container [item$]="item$" (onRefresh)="refreshContent($event)">

                        <ng-container *ngIf="item$ | async as item;">

                            <div class="pws-calendar">

                                <ion-list lines="none">

                                    <ion-item>
                                        <ion-label>
                                            <ion-text color="medium">
                                                <strong>
                                                    Cena
                                                </strong>
                                            </ion-text>
                                        </ion-label>
                                        <ion-text>
                                            {{ item.service.price }}{{ item.service.priceTo ? ' - ' + item.service.priceTo : '' }}&nbsp;zł
                                        </ion-text>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>
                                            <ion-text color="medium">
                                                <strong>
                                                    Czas
                                                </strong>
                                            </ion-text>
                                        </ion-label>
                                        <ion-text>
                                            {{ item.service.interval | stringTimeConvert }} godz.
                                        </ion-text>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>
                                            <ion-text color="medium">
                                                <strong>
                                                    Wybierz termin
                                                </strong>
                                            </ion-text>
                                        </ion-label>
                                    </ion-item>

                                </ion-list>

                                <app-calendar-days-slots
                                        [item]="item">

                                </app-calendar-days-slots>

                            </div>

                        </ng-container>
                    </app-default-container>


                </ion-col>

            </ion-row>

        </ng-template>

    </div>

    <app-footer></app-footer>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="ion-hide-sm-up">
        <ion-button (click)="openCalendar()" expand="block">
            <ion-text class="ion-margin-end">
                Umów termin
            </ion-text>
            <ion-icon name="custom-calendar-outline"></ion-icon>
        </ion-button>
    </ion-fab>

</ion-content>
