<ng-container *ngIf="onIsMobile$ | async as isMobile; else isNotMobileTemplate">
</ng-container>
<ng-template #isNotMobileTemplate>


</ng-template>
<div class="banner-component">
    <div class="banner-component-title">
        Witamy
    </div>
    <div class="banner-component-content">
        <p>
            Jesteśmy platformą do zamawiania usług.
        </p>
        <p>
            Poniżej znajdziesz listę kategorii, wybierz jedną i znajdź usługę którą chcesz zamówić.
        </p>
        <p>
            Jeżeli chcesz zaoferować swoje usługi zapraszamy do rejestracji.
        </p>
    </div>
</div>
