@media screen and (max-width: 767px) {

  //#category-list {
  //
  //  &.custom-style {
  //
  //    ion-col {
  //      --padding-start: 0;
  //      --padding-end: 0;
  //      padding-inline-start: 0;
  //      padding-inline-end: 0;
  //
  //    }
  //
  //  }
  //
  //}

}
