#category-list {

  &.custom-style {
    padding-top: 0;
    padding-bottom: 0;
    background: unset;
    margin: 0 -4px;

    ion-col {

      .item {

        &[data-level="1"] {

          &:first-of-type {

            .header {
              padding-top: 9px;
            }

          }

          &:last-of-type {

            .children {
              padding-bottom: 0;
            }

          }

        }

        &[data-level="0"] {
          margin-bottom: 0px;
          padding: 0 18px;
          border-radius: 20px;

          .header {
            color: white;
            font-weight: bold;
            display: flex;
            align-items: center;
            padding-top: 18px;

            ion-icon {
              font-size: x-large;
              margin-right: 10px;

            }

          }

        }

        .header {
          font-size: larger;
          color: #747474;

        }

        .children {
          padding-left: 9px;
          padding-top: 9px;
          padding-bottom: 18px;

          ion-chip {
            line-height: 1.3;
            height: auto;

            ion-label {
              white-space: normal;

            }

          }

        }

      }

    }

    .child {
      border-radius: 5px;
      padding: 10px;
      background: rgba(0,0,0,0.1);
      margin-right: 10px;
      cursor: pointer;
      transition: .5s;
      font-size: larger;

      &:hover {
        background: #EEEEEE;
        color: black;

      }

    }

  }

}
