<ion-content>

  <app-header></app-header>

  <div class="ion-text-center">

    <h1>Kontakt</h1>

    <ion-chip class="ion-padding" color="tertiary">
        <ion-label>
            <strong>
                Skorzystaj z linku aby skontaktować się z nami
            </strong>
            <br/>
            <small>
                Budujemy nowy formularz
            </small>
        </ion-label>
    </ion-chip>

  </div>

  <app-footer></app-footer>

</ion-content>
