.service-image {
  //max-height: 350px;
  //height: 350px;

  width: 100%;
  overflow: hidden;
  margin: 0;
  padding-top: 56.25%;
  position: relative;

  img {
    //width: 100%;
    //object-fit: cover;
    //height: 100%;
    //object-position: center;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

  }

}
