<ion-header translucent>
  <ion-toolbar>
    <ion-title mode="ios" class="multilines">
      <ion-text class="ion-text-wrap">
        Opinii
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  Hello world

</ion-content>
