<form [formGroup]="form">

  <ion-row>

    <ion-col size-md="6" offset-md="3">

      <div class="ion-text-center">
        <h4>Grafika</h4>
      </div>

    </ion-col>

  </ion-row>
  <ion-row>

    <ion-col size-md="6" offset-md="3">

      <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="1"
              [onlyScaleDown]="false"
              [roundCropper]="false"
              format="jpg"
              outputType="base64"
              [autoCrop]="true"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"
              [alignImage]="'center'"
      ></image-cropper>

      <ng-container *ngIf="!croppedImage">

        <div *ngIf="worker && worker.photo && worker.photo.length > 0" class="service-image">
          <app-img [src]="worker.photo"></app-img>
        </div>

        <div (click)="openFileSelect()" class="select-file-input">

          <input #bannerInput type="file" (change)="fileChangeEvent($event)" />

          Kliknij aby wybrać zdjęcie

        </div>

      </ng-container>

      <ion-button
              *ngIf="croppedImage"
              expand="block"
              id="app-admin-panel-company-contact-cancel-button-modal"
              (click)="clearNewImg()">
        Anuluj wybrany baner
      </ion-button>

    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col size-md="6" offset-md="3">

      <div class="ion-text-center">
        <h4>Informacja</h4>
      </div>

    </ion-col>

  </ion-row>
  <ion-row>

    <ion-col size-md="6" offset-md="3">

      <div class="form-field">

        <app-input [formControlName]="'firstName'"
                   [placeholder]="'Imię:'">
        </app-input>

      </div>

      <div class="form-field">

        <app-input [formControlName]="'lastName'"
                   [placeholder]="'Nazwisko:'">
        </app-input>

      </div>

      <div class="form-field">

        <app-input [formControlName]="'position'"
                   [placeholder]="'Stanowisko:'">
        </app-input>

      </div>

      <div class="form-field">

        <app-input [formControlName]="'userEmail'"
                   [placeholder]="'E-mail:'">
        </app-input>

      </div>

    </ion-col>

  </ion-row>
  <ion-row>

    <ion-col size-md="6" offset-md="3">


      <ion-button (click)="create()" color="tertiary" expand="block">
          Zapisz
      </ion-button>

    </ion-col>

  </ion-row>

</form>
