<ion-header translucent>
    <ion-toolbar>
        <ion-title mode="ios" class="multilines">
            <ion-text class="ion-text-wrap">
                Dodawanie usługi
            </ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-segment [value]="selectedSegment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="basic">
            <ion-label>Zwykła</ion-label>
        </ion-segment-button>
        <ion-segment-button value="advanced">
            <ion-label>Zaawansowana</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ng-container *ngIf="form">

        <form [formGroup]="form">

            <ion-row>

                <ion-col size="12">

                    <div class="ion-text-center">
                        <h4>Grafika</h4>
                    </div>

                </ion-col>

            </ion-row>
            <ion-row>

                <ion-col size="12">

                    <app-input [formControlName]="'image'"
                               [onlyError]="true">
                    </app-input>

                    <image-cropper
                            (imageCropped)="imageCropped($event)"
                            [alignImage]="'center'"
                            [aspectRatio]="16/9"
                            [autoCrop]="true"
                            [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true"
                            [onlyScaleDown]="false"
                            [roundCropper]="false"
                            format="jpg"
                    ></image-cropper>

                    <ng-container *ngIf="!croppedImage">

                        <div *ngIf="isEdit"
                             class="service-image">
                            <app-img [src]="service.images[0].link"></app-img>
                        </div>

                        <div (click)="openFileSelect()" class="select-file-input">

                            <input #bannerInput (change)="fileChangeEvent($event)" type="file"/>

                            Kliknij aby wybrać baner

                        </div>

                    </ng-container>

                    <ng-container *ngIf="croppedImage">

                        <ion-button
                                (click)="clearNewImg()"
                                expand="block"
                                id="app-admin-panel-company-contact-cancel-button-modal">
                            Anuluj wybrany baner
                        </ion-button>

                    </ng-container>

                </ion-col>

            </ion-row>

            <ion-row>

                <ion-col size="12">

                    <div class="ion-text-center">
                        <h4>Informacja</h4>
                    </div>

                </ion-col>

            </ion-row>
            <ion-row>

                <ion-col size="12">

                    <div class="form-field">

                        <app-input (click)="openModalCategory()"
                                   [formControlName]="'categoryName'"
                                   [placeholder]="'Kategoria:'">
                        </app-input>

                    </div>

                    <div class="form-field">

                        <app-input [formControlName]="'name'"
                                   [placeholder]="'Nazwa usługi:'">
                        </app-input>

                    </div>

                    <ion-item lines="none">

                        <ion-label>
                            Opis
                        </ion-label>

                    </ion-item>

                    <angular-editor [config]="editorConfig" formControlName="description"></angular-editor>

                </ion-col>

            </ion-row>

            <ng-container [ngSwitch]="selectedSegment">

                <ng-container *ngSwitchCase="'basic'">

                    <ion-row>

                        <ion-col size="12">

                            <div class="ion-text-center">
                                <h4>Cena</h4>
                            </div>

                        </ion-col>

                    </ion-row>
                    <ion-row>

                        <ion-col size="12">

                            <div class="form-field">

                                <app-input [formControlName]="'price'"
                                           [placeholder]="'Cena:'"
                                           type="money">
                                </app-input>

                            </div>

                        </ion-col>

                    </ion-row>

                    <ion-row>

                        <ion-col size="12">

                            <div class="ion-text-center">
                                <h4>Konfiguracja</h4>
                            </div>

                        </ion-col>

                    </ion-row>
                    <ion-row>

                        <ion-col size="12">

                            <div class="form-field">
                                <app-input [formControlName]="'interval'"
                                           [placeholder]="'Interwal (czas trwania):'"
                                           type="datetime">
                                </app-input>
                            </div>

                        </ion-col>

                    </ion-row>

                </ng-container>

                <ng-container *ngSwitchCase="'advanced'">

                    <ion-row>

                        <ion-col size="12">

                            <div class="ion-text-center">
                                <h4>Cena</h4>
                            </div>

                        </ion-col>

                    </ion-row>
                    <ion-row>

                        <ion-col size="12">

                            <div class="form-field">

                                <app-input [formControlName]="'price'"
                                           [placeholder]="'Cena:'"
                                           type="money">
                                </app-input>

                            </div>

                            <div class="form-field">

                                <app-input [formControlName]="'priceTo'"
                                           [placeholder]="'Cena do:'"
                                           type="money">
                                </app-input>

                            </div>

                            <div class="form-field">

                                <app-input [formControlName]="'discount'"
                                           [placeholder]="'Zniżka:'">
                                </app-input>

                            </div>

                            <div class="form-field">

                                <app-input [formControlName]="'discountIsPercent'"
                                           [placeholder]="'Zniżka w procentach?'"
                                           [position]="undefined"
                                           type="toggle">
                                </app-input>

                            </div>

                            <div class="form-field">

                                <app-input [formControlName]="'paymentIsImportant'"
                                           [placeholder]="'Opłata przez portal jest obowiązkowa?'"
                                           [position]="undefined"
                                           type="toggle">
                                </app-input>

                            </div>

                        </ion-col>

                    </ion-row>

                    <ion-row>

                        <ion-col size="12">

                            <div class="ion-text-center">
                                <h4>Konfiguracja</h4>
                            </div>

                        </ion-col>

                    </ion-row>
                    <ion-row>

                        <ion-col size="12">

                            <div class="form-field">

                                <app-input [formControlName]="'timerTimeForPay'"
                                           [placeholder]="'Anulowanie nie opłacone rezerwacji za:'"
                                           type="datetime">
                                </app-input>

                            </div>

                            <div class="form-field">
                                <app-input [formControlName]="'interval'"
                                           [placeholder]="'Interwal (czas trwania):'"
                                           type="datetime">
                                </app-input>
                            </div>

                            <div class="form-field">

                                <app-input [formControlName]="'earliestReservationTime'"
                                           [placeholder]="'Najpóźniejsza godzina rezerwacji:'"
                                           type="datetime">
                                </app-input>

                            </div>

                            <div class="form-field">

                                <app-input [formControlName]="'earliestReservationDate'"
                                           [placeholder]="'Najpóźniejsza data rezerwacji:'">
                                </app-input>

                            </div>

                            <div class="form-field">

                                <app-input [formControlName]="'lastReservationDate'"
                                           [placeholder]="'Najwcześniejsza data rezerwacji:'">
                                </app-input>

                            </div>

                        </ion-col>

                    </ion-row>

                </ng-container>

            </ng-container>

        </form>

    </ng-container>

</ion-content>

<ion-footer>

    <ion-button (click)="create()" class="ion-no-margin" color="tertiary" expand="full">
        Zapisz
    </ion-button>

</ion-footer>
