<ion-content>

  <app-header></app-header>

  <div class="half-page">

    <h1>Skontaktuj się z pomocą techniczną</h1>
    <p>
      <a [routerLink]="['/report']">Link do tworzenia zgłoszenia do pomocy</a>
    </p>
    <p>
      <a [routerLink]="['/knowledge-base']">Link do bazy wiedzy</a>
    </p>


  </div>

  <app-footer>

  </app-footer>

</ion-content>
