<ion-header translucent>
    <ion-toolbar>
        <ion-title mode="ios" class="multilines">
            <ion-text class="ion-text-wrap">
                Umówienie
            </ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ng-container *ngIf="isView; else isNotView">

        <ion-list lines="full">
            <ion-item>
                <ion-label position="stacked">
                    <strong>Number umówienia</strong>
                </ion-label>
                <ion-text>
                    {{ reservation.id }}
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Usługa</strong>
                </ion-label>
                <ion-text>
                    {{ reservation.service.name }}
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Cena</strong>
                </ion-label>
                <ion-text>
                    {{ reservation.price }}{{ reservation.priceTo ? ' - ' + reservation.priceTo : '' }} zł.
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Usługa wymaga wstępnej opłaty</strong>
                </ion-label>
                <ion-text>
                    {{ reservation.paymentIsImportant ? 'Tak' : 'Nie' }}
                </ion-text>
            </ion-item>
            <ng-container *ngIf="reservation.service.paymentIsImportant">
                <ion-item>
                    <ion-label position="stacked">
                        <strong>Czas przydzielony na opłatę</strong>
                    </ion-label>
                    <ion-text>
                        {{ reservation.service.timerTimeForPay | stringTimeConvert }}
                    </ion-text>
                </ion-item>
            </ng-container>
            <ng-container *ngIf="!isBusiness && reservation?.worker?.company">
                <ion-item>
                    <ion-label position="stacked">
                        <strong>Firma</strong>
                    </ion-label>
                    <ion-text>
                        {{ reservation?.worker?.company?.name }}
                    </ion-text>
                </ion-item>
            </ng-container>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Prowadzący</strong>
                </ion-label>
                <ion-text>
                    {{ reservation.worker.lastName }} {{ reservation.worker.firstName }}
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Kiedy</strong>
                </ion-label>
                <ion-text>
                    {{ reservation.date }}
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Początek o</strong>
                </ion-label>
                <ion-text>
                    {{ reservation.startAt | stringTimeConvert}} godz.
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Status płatności</strong>
                </ion-label>
                <ion-text
                        [color]="reservation.charge === 1 ? 'success' : 'danger'">{{ reservation.charge === 1 ? 'Opłacone' : 'Nie opłacone' }}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Status</strong>
                </ion-label>
                <ion-text>
                    {{ reservation.status | reservationStatus }}
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Temat lub ważną informację</strong>
                </ion-label>
                <ion-text>
                    {{ reservation.note }}
                </ion-text>
            </ion-item>
            <ng-container *ngIf="isBusiness; else isNotBusinessTemplate">
                <ng-container *ngIf="reservation.users && reservation.users.length > 0">
                    <ion-list-header color="light">
                        <ion-label>Klienci</ion-label>
                    </ion-list-header>
                    <ng-container *ngFor="let user of reservation.users">
                        <ion-item>
                            <ion-label position="stacked">
                                <ng-container *ngIf="user.user; else showEmailTitleTemplate">
                                    <strong>Nazwisko i Imię</strong>
                                </ng-container>
                                <ng-template #showEmailTitleTemplate>
                                    <strong>E-mail</strong>
                                </ng-template>
                            </ion-label>
                            <ion-text>
                                <ng-container *ngIf="user.user; else showEmailTemplate">
                                    {{ user.user.lastName }} {{ user.user.firstName }}
                                    <small>
                                        <ion-text color="medium">({{ user.user.email }})</ion-text>
                                    </small>
                                </ng-container>
                                <ng-template #showEmailTemplate>
                                    <p>{{ user.email }}</p>
                                </ng-template>
                            </ion-text>
                            <!--                            <ion-buttons slot="end">-->
                            <!--                                <ion-button>-->
                            <!--                                    <ion-icon slot="icon-only" ios="custom-ellipsis-vertical"-->
                            <!--                                              md="custom-ellipsis-vertical"></ion-icon>-->
                            <!--                                </ion-button>-->
                            <!--                            </ion-buttons>-->
                        </ion-item>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-template #isNotBusinessTemplate>

            </ng-template>
        </ion-list>

    </ng-container>
    <ng-template #isNotView>

        <ion-list lines="full">
            <ion-item>
                <ion-label position="stacked">
                    <strong>Usługa</strong>
                </ion-label>
                <ion-text [innerHTML]="initCreate.item.service.name"></ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Cena</strong>
                </ion-label>
                <ion-text>
                    {{ initCreate.item.service.price }}{{ initCreate.item.service.priceTo ? ' - ' + initCreate.item.service.priceTo : '' }}
                    zł.
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Trwałość</strong>
                </ion-label>
                <ion-text>
                    {{ initCreate.item.service.interval | stringTimeConvert }} godz.
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Usługa wymaga wstępnej opłaty</strong>
                </ion-label>
                <ion-text>
                    {{ initCreate.item.service.paymentIsImportant ? 'Tak' : 'Nie' }}
                </ion-text>
            </ion-item>
            <ng-container *ngIf="initCreate.item.service.paymentIsImportant">
                <ion-item>
                    <ion-label position="stacked">
                        <strong>Czas przydzielony na opłatę</strong>
                    </ion-label>
                    <ion-text>
                        {{ initCreate.item.service.timerTimeForPay | stringTimeConvert }} godz.
                    </ion-text>
                </ion-item>
            </ng-container>
            <ion-item *ngIf="initCreate.item?.worker?.company">
                <ion-label position="stacked">
                    <strong>Firma</strong>
                </ion-label>
                <ion-text>
                    {{ initCreate.item.worker.company.name }}
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Prowadzący</strong>
                </ion-label>
                <ion-text>
                    {{ initCreate.item.worker.lastName }} {{ initCreate.item.worker.firstName }}
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Kiedy</strong>
                </ion-label>
                <ion-text>
                    {{ initCreate.date }}
                </ion-text>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <strong>Początek o</strong>
                </ion-label>
                <ion-text>
                    {{ initCreate.start | stringTimeConvert }} godz.
                </ion-text>
            </ion-item>

            <form [formGroup]="form">

                <app-input
                        [formControlName]="'withoutNote'"
                        [placeholder]="'Bez tematu i ważną informację:'"
                        [position]="undefined"
                        type="toggle">
                </app-input>

                <app-input

                        [formControlName]="'note'"
                        [placeholder]="'Podaj temat lub ważną informacje dla prowadzącego'"
                        [position]="'floating'"
                        [type]="'textarea'">
                </app-input>
                <ion-text class="ion-padding-start" color="medium">
                    <small>wpisz więcej niz 10 znaków</small>
                </ion-text>
            </form>

        </ion-list>

    </ng-template>

</ion-content>

<ion-footer>
    <ng-container *ngIf="isView; else isNotViewFooterTemplate">
        <ng-container *ngIf="isBusiness && reservation.status > 0 && reservation.status !== 3">
            <ng-container *ngIf="reservation.status === 4 || reservation.status === 5; else elseTemplate">

                <!--          <ion-button (click)="resetReservation(reservation)" color="success" expand="block">-->
                <!--            Ponów-->
                <!--          </ion-button>-->

            </ng-container>
            <ng-template #elseTemplate>

                <ion-buttons class="ion-justify-content-between">
                    <ion-button (click)="cancelReservation(reservation)"
                                *ngIf="reservation.status === 1 || reservation.status === 2" color="danger">
                        Anulować
                    </ion-button>
                    <ion-button (click)="confirmReservation(reservation)" *ngIf="reservation.status === 1" fill="solid"
                                color="tertiary">
                        Potwierdzić
                    </ion-button>
                    <ion-button (click)="finishReservation(reservation)" *ngIf="reservation.status === 2" fill="solid"
                                color="primary">
                        Zakończona
                    </ion-button>
                </ion-buttons>

            </ng-template>
        </ng-container>
        <ng-container *ngIf="!isBusiness">
            <ion-button *ngIf="canCanceled()" expand="full" color="danger" class="ion-no-margin" (click)="cancel()">
                Anuluj
            </ion-button>
        </ng-container>
    </ng-container>
    <ng-template #isNotViewFooterTemplate>
        <ion-button (click)="create()" class="ion-no-margin" color="tertiary" expand="full" size="large">
            <strong>Zapisz</strong>
        </ion-button>
    </ng-template>
</ion-footer>
