.desktop-header {
  height: 72px;
  display: flex;
  justify-content: space-between;
  padding: 10px 18px 0 18px;

  &-title {
    position: relative;

    a {
      height: 50px;
      padding: 0;
      display: flex;
      align-items: center;
      text-decoration: unset;
      color: black;
      font-size: 24px;
      font-weight: bold;

    }

    ion-badge {
      position: absolute;
      top: 0;
      left: calc(100% + 10px);
    }

  }

  &-menu {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        padding: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .5s;
        border-radius: 5px;
        margin-left: 10px;

        &:hover {
         background: #EEEEEE;

        }

        ion-icon {
          margin-right: 10px;
          font-size: x-large;

        }

        ion-avatar {
          width: 28px;
          height: 28px;
          margin-right: 10px;

          img {
            border-radius: 6px;

          }

        }

      }
    }
  }

}
