<ion-content>

    <ion-refresher (ionRefresh)="refreshContent($event)" slot="fixed">

        <ion-refresher-content
                pullingText="Pociągnij aby odświeżyć.."
                refreshingText="Odświeżanie...">
        </ion-refresher-content>

    </ion-refresher>

    <app-header></app-header>
    <ng-container *ngIf="profile">

        <div id="profile-page">

            <ion-row>
                <ion-col size-sm="4" size-md="3" size="12" class="avatar">
                    <ion-item lines="none">
                        <ion-label>
                            Profil
                        </ion-label>
                        <ion-buttons slot="end">
                            <ion-button (click)="openPopover($event)">
                                <ion-icon ios="custom-ellipsis-vertical" md="custom-ellipsis-vertical"
                                          slot="icon-only"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </ion-item>
                    <ion-card>
                        <ion-item lines="none">
                            <ion-avatar slot="start">
                                <app-img [isAvatar]="true" [src]="profile.photo"></app-img>
                            </ion-avatar>
                            <ion-label>
                                <h3>
                                    {{ profile.firstName }}
                                    {{ profile.lastName }}
                                </h3>
                                <p>
                                    <ion-text color="medium">
                                        {{ profile.createdAt }}
                                    </ion-text>
                                </p>
                            </ion-label>
                        </ion-item>
                        <!--                        <ion-footer>-->

                        <!--                            <ion-button (click)="openForm()" color="tertiary" expand="full" fill="clear">-->
                        <!--                                <strong>Edytuj</strong>-->
                        <!--                            </ion-button>-->

                        <!--                        </ion-footer>-->
                        <!--                        <ion-footer>-->

                        <!--                            <ion-button (click)="openChangePassword()" color="medium" expand="full" fill="clear">-->
                        <!--                                <strong>Zmień hasło</strong>-->
                        <!--                            </ion-button>-->

                        <!--                        </ion-footer>-->
                    </ion-card>
                    <ion-list lines="none">
                        <ion-item class="ion-no-padding">
                            <ion-chip
                                    [color]="profile.status === status.active ? 'warning' : profile.status === status.confirmedEmail ? 'success' : 'primary'"
                                    class="width-100 ion-justify-content-center">
                                <ion-text>
                                    <small>{{ profile.status === status.active ? 'E-mail jeszcze nie potwierdzony' : profile.status === status.confirmedEmail ? 'E-mail potwierdzony' : '-' }}</small>
                                </ion-text>
                                <ion-icon *ngIf="profile.status === status.active"
                                          name="custom-checkmark-circle-outline"></ion-icon>
                                <ion-icon *ngIf="profile.status === status.confirmedEmail"
                                          name="checkmark-done-circle"></ion-icon>
                            </ion-chip>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <ion-text class="ion-text-wrap">
                                    <small>{{ profile.email }}</small>
                                </ion-text>
                            </ion-label>
                            <ion-icon name="custom-at-outline" size="small" slot="start"></ion-icon>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <ion-text class="ion-text-wrap">
                                    <small>{{ profile.phone | defaultValueConvert }}</small>
                                </ion-text>
                            </ion-label>
                            <ion-icon name="custom-call-outline" size="small" slot="start"></ion-icon>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <ion-text class="ion-text-wrap">
                                    <small>{{ profile.birthday | defaultValueConvert }}</small>
                                </ion-text>
                            </ion-label>
                            <ion-icon name="custom-egg-outline" size="small" slot="start"></ion-icon>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col size-sm="8" size-md="9" size="12" class="information ion-no-margin ion-no-padding">


                    <ion-item lines="none">
                        <ion-label>
                            Rezerwacje
                        </ion-label>
                    </ion-item>

                    <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment">
                        <ion-segment-button value="active">
                            <ion-label>Aktywne</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="history">
                            <ion-label>Historia</ion-label>
                        </ion-segment-button>
                    </ion-segment>

                    <ng-container *ngIf="selectedSegment === 'active'">

                        <app-default-container
                                (onLoadMoreData)="loadData()"
                                (onRefresh)="refreshContent()"
                                [hasModels]="true"
                                [ionMarginTop]="true"
                                [item$]="activeItem$"
                                [useLoadMoreData]="true"
                                [useRefreshButton]="false">

                            <ng-container *ngIf="activeItem$ | async as activeItem">

                                <ion-row id="reservation-list">

                                    <ng-container *ngFor="let reservation of activeItem.models; trackBy: trackByFn">


                                        <ion-col size="12" size-md="4" size-sm="6" size-xl="4">

                                            <app-reservation-component
                                                    (open)="selectReservation($event)"
                                                    [item]="reservation">

                                            </app-reservation-component>

                                        </ion-col>

                                    </ng-container>

                                </ion-row>

                            </ng-container>

                        </app-default-container>

                    </ng-container>

                    <ng-container *ngIf="selectedSegment === 'history'">

                        <app-default-container
                                (onLoadMoreData)="loadData()"
                                (onRefresh)="refreshContent()"
                                [hasModels]="true"
                                [ionMarginTop]="true"
                                [item$]="historyItem$"
                                [useLoadMoreData]="true"
                                [useRefreshButton]="false">

                            <ng-container *ngIf="historyItem$ | async as historyItem">

                                <ion-row id="reservation-history-list">

                                    <ng-container *ngFor="let reservation of historyItem.models; trackBy: trackByFn">

                                        <ion-col size="12" size-md="4" size-sm="6" size-xl="4">

                                            <app-reservation-component
                                                    (comment)="createComment($event)"
                                                    (open)="selectReservation($event)"
                                                    (openCalendar)="onOpenCalendar($event)"
                                                    [isHistory]="true"
                                                    [item]="reservation">

                                            </app-reservation-component>

                                        </ion-col>

                                    </ng-container>

                                </ion-row>

                            </ng-container>

                        </app-default-container>

                    </ng-container>

                </ion-col>
            </ion-row>

        </div>

    </ng-container>
    <app-footer></app-footer>

</ion-content>
