.pws {

  &-padding-10 {
    padding: 0 10px 0 10px;

  }

  .pws-information {

  }

  .pws-calendar {
    margin-top: 18px;
    position: sticky;
    top: 18px;

  }

  .pws-content {

    .border-dashed {

      &-top {
        border-top: 1px dashed var(--ion-color-light-shade);

      }

      &-bottom {
        border-bottom: 1px dashed var(--ion-color-light-shade);

      }

    }

    ion-card {

      .score {
        display: flex;
        align-items: center;

        bar-rating {
          margin-right: 10px;

          .br {
            padding: 0;
            margin: 0;
            width: 80px;

            .br-unit {
              height: 25px;

            }

          }

        }

      }

      &.information {
        margin-top: 16px;
        display: flex;
        flex-direction: column;

        .information-company {
          border-bottom: 1px dashed var(--ion-color-light-shade);

          ion-card-header {
            display: flex;
            align-items: center;

            ion-avatar {
              margin-right: 18px;

            }

          }

        }

        .information-worker {

          ion-card-header {
            display: flex;
            align-items: center;

            ion-avatar {
              margin-right: 18px;

            }

            .information-worker-right {

            }

          }

        }

      }

      &.pws-comment-list {
        padding: 0;
        padding-inline: 0;

        .pws-score {
          display: flex;
          align-items: center;

          bar-rating {
            margin-right: 10px;

            .br {
              padding: 0;
              margin: 0;
              width: 100px;

              .br-unit {
                height: 25px;

              }

            }

          }

        }

        ion-card-header {
          padding: 16px 16px 0 16px;

        }

      }

    }

  }


}
