<ion-header translucent>
  <ion-toolbar>
    <ion-title mode="ios" class="multilines">
      <ion-text class="ion-text-wrap">
        Profil publiczny
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
          <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refreshContent($event)" slot="fixed">

    <ion-refresher-content
            pullingText="Pociągnij aby odświeżyć.."
            refreshingText="Odświeżanie...">
    </ion-refresher-content>

  </ion-refresher>


  <app-default-container
          [item$]="worker$"
          [useRefreshButton]="false">

    <ng-container *ngIf="worker$ | async as worker;">

      <ion-card>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <app-img
                    [isAvatar]="true"
                    [src]="worker.photo">
            </app-img>
          </ion-avatar>
          <ion-label>
            <h3>
              {{ worker.firstName }}
              {{ worker.lastName }}
            </h3>
            <p>
              <ion-text color="medium">
                {{ worker.id }}
              </ion-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-card>

      <ion-list lines="full">

        <ion-item lines="full">
          <strong>Włączony: </strong>
          <ion-toggle slot="end" name="blueberry" (click)="changeEnabled(worker)"
                      [(ngModel)]="worker.enabled"></ion-toggle>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">
            Data dodania:
          </ion-label>
          <ion-text class="ion-text-end">{{ worker.createdAt }}</ion-text>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">
            Ostatnia zmiana:
          </ion-label>
          <ion-text class="ion-text-end">{{ worker.updatedAt }}</ion-text>
        </ion-item>

      </ion-list>

    </ng-container>

  </app-default-container>

</ion-content>
