<ng-container *ngIf="useLikeComponent; else pageTemplate">

    <ng-container *ngTemplateOutlet="pageContent">

    </ng-container>

</ng-container>

<ng-template #pageTemplate>

    <ion-content>
        <app-header></app-header>

        <ion-refresher (ionRefresh)="refreshContent($event)" slot="fixed">

            <ion-refresher-content
                    pullingText="Pociągnij aby odświeżyć.."
                    refreshingText="Odświeżanie...">
            </ion-refresher-content>

        </ion-refresher>

        <ng-container *ngTemplateOutlet="pageContent">

        </ng-container>

        <app-footer></app-footer>

    </ion-content>

</ng-template>

<ng-template #pageContent>

    <ion-item lines="none">
        <ng-container *ngIf="!useLikeComponent">

            <ion-buttons slot="start">
                <ion-button (click)="back()">
                    <ion-icon name="custom-chevron-back-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ng-container>
        <ion-label>
            Rezerwacji
        </ion-label>

        <ion-buttons slot="end">
            <ion-button (click)="openPopover($event)">
                <ion-icon ios="custom-ellipsis-vertical" md="custom-ellipsis-vertical" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-card class="filter-card">
        <ng-container *ngIf="params">
            <ion-item lines="full">
                Filter
                <!--                Statusy-->
                <!--                <ion-button slot="end">-->
                <!--                    <ion-icon slot="icon-only" name="add-outline"></ion-icon>-->
                <!--                </ion-button>-->
            </ion-item>
            <ion-item class="ion-no-padding">
                <div>
                    <ion-chip (click)="openAlertStatusList()" color="medium">
                        <strong>
                            <ion-text color="dark">
                                Statusy
                            </ion-text>
                        </strong>
                        <div [innerHTML]="params.statusList | reservationStatus: {useJoin: true, useContainer: true}"
                             class="reservation-status-list">

                        </div>
                    </ion-chip>
                    <ion-chip (click)="openModalCategory()" color="medium">
                        <strong>
                            <ion-text color="dark">
                                Kategoria
                            </ion-text>
                        </strong>
                        <div class="reservation-status-list">
                            <div class="reservation-status-chip">
                                <ion-text color="dark">
                                    {{ params?.categoryId ? params?.categoryName : 'Wszystkie' }}
                                </ion-text>
                            </div>
                        </div>
                    </ion-chip>
                </div>
            </ion-item>
        </ng-container>
    </ion-card>

    <app-reservation-list-with-days
            (onEndDate)="selectEndDate($event)"
            (onStartDate)="selectStartDate($event)"
            (refresh)="refreshContent($event)"
            [reservationList$]="reservationList$"
            [widthDay]="124">

    </app-reservation-list-with-days>

</ng-template>
