.drawer {

  ion-content {
    --background: var(--background-primary-color);
    --offset-top: 0px !important;

    ion-list {

      ion-item {
        margin-bottom: 16px;
        --min-height: 40px;

        @media (max-height: 600px) {
          margin-bottom: 0;
        }

        .external-link-icon {
          margin-left: 10px;
        }

        ion-icon {
          font-size: 24px;
          margin-right: 22px;
        }

        &:hover {
          --background: rgba(0,0,0,0.1);
          cursor: pointer;

          ion-icon {
            color: var(--white);
          }
        }
      }
    }

    .drawer-logout-button {
      display: flex;
      align-items: center;
      color: var(--white);
      margin-left: 20px;
      margin-bottom: 22px;
      min-height: 20px;
      width: 100%;
      cursor: pointer;

      ion-icon {
        font-size: 24px;
        margin-right: 20px;
      }

      &:hover {
        color: var(--secondary);

        ion-icon {
          color: var(--secondary);
        }
      }
    }

    .reservation-platform-drawer-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .reservation-platform-drawer-content-top {
      }

      .reservation-platform-drawer-content-bottom {
        margin-bottom: 110px;
      }

      @media (orientation: landscape) and (max-width: 767px){

        .reservation-platform-drawer-content-bottom {
          margin-bottom: 0;
        }
      }
    }
  }
}
