.home-header {
  padding-top: 150px;

  &::after {
    content: "";
    background-image: url("/assets/images/background-header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

  }

}

ion-searchbar {

  .searchbar-input {
    --border-radius: 20px;

  }

  .sc-ion-searchbar-md-h {

  }

}
