@media screen and (min-width: 768px) {
  .home-header {
    padding-top: 150px;
    height: 300px;

    &::after {
      content: "";
      background-image: url("/assets/images/background-header.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 300px;
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;

    }

    .home-header-title {
      background: rgba(0,0,0,0.1);
      //border-radius: 5px 5px 0 0;
      border-radius: 5px;
      width: 500px;
      padding-left: 10px;

    }

    .home-header-search {
      background: rgba(0,0,0,0.1);
      border-radius: 0 5px 5px 5px;
      width: 550px;

    }

  }
}
