<ion-content>

    <app-header></app-header>
    <ion-row>
        <ion-col size="12" size-md="6" offset-md="3">

            <ion-segment [value]="selectedSegment" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="singel">
                    <ion-label>Jedna osoba</ion-label>
                </ion-segment-button>
                <ion-segment-button value="company">
                    <ion-label>Zespól</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-col>
    </ion-row>

    <ng-container *ngIf="profile" [ngSwitch]="selectedSegment">

        <ng-container *ngSwitchCase="'singel'">
            <ion-row>

                <ion-col offset-md="3" size="12" size-md="6">
                    <ion-list lines="none">

                        <ion-list-header>

                            <ion-label>
                                Usługi
                            </ion-label>

                            <ion-button (click)="openServiceModal()">
                                <ion-icon name="add-outline" slot="icon-only"></ion-icon>
                            </ion-button>

                        </ion-list-header>
                        <ng-container *ngIf="pwsList.length === 0">

                            <div class="ion-padding">
                                <p class="ion-text-center">
                                    <ion-text>
                                        Kliknij w plusa aby dodać swoją pierwszą usługę.
                                    </ion-text>
                                </p>

                                <p class="ion-text-center">
                                    <ion-text color="medium">
                                        Również możesz dodać kolejne późnej.
                                    </ion-text>
                                </p>
                            </div>

                        </ng-container>

                    </ion-list>
                    <ion-row>


                        <ng-container *ngIf="pwsList.length > 0">

                            <ng-container *ngFor="let pws of pwsList">

                                <ion-col size="12">


                                    <ion-card class="ion-no-margin-start ion-no-margin-end worker-card">

                                        <div class="card-header">

                                            <app-img
                                                    [src]="pws.service.image"
                                                    [useAspectRation]="true">

                                            </app-img>
                                            <div class="card-header-score">
                                                <bar-rating [rate]="0" [readOnly]="true"
                                                            [theme]="'stars'"></bar-rating>
                                            </div>
                                            <div class="information">
                                                <div class="interval">
                                                    <ion-icon name="custom-stopwatch-outline"></ion-icon>
                                                    {{ pws.service.interval | stringTimeConvert }}
                                                </div>
                                                <div class="price">
                                                    {{ pws.service.price }}{{ pws.service.priceTo ? ' - ' + pws.service.priceTo : '' }}&nbsp;zł
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-content">

                                            <div [innerHTML]="pws.service.name" class="service-name">
                                            </div>

                                            <div class="worker">
                                                <ion-avatar>
                                                    <app-img [isAvatar]="true" [src]="pws.worker.photo"></app-img>
                                                </ion-avatar>
                                                <div class="worker-right">
                                                    <div class="worker-right-full-name">
                                                        <ion-text
                                                                color="medium">
                                                            {{ pws.worker.firstName }} {{ pws.worker.lastName }}
                                                        </ion-text>
                                                    </div>
                                                    <div class="worker-right-score">

                                                        <bar-rating
                                                                [rate]="pws.worker.score"
                                                                [readOnly]="true"
                                                                [theme]="'stars'"></bar-rating>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <ng-container *ngIf="pws.workTimeList.length > 0">


                                            <ion-card-content class="ion-no-padding">

                                                <ng-container *ngFor="let workTime of pws.workTimeList">

                                                    <ion-item (click)="openForm(pws, workTime)" button lines="none">
                                                        <ion-label>
                                                            {{ workTime.weekday | weekdayName }}:
                                                        </ion-label>
                                                        <ion-note slot="end">
                                                            <ion-text>
                                                                Przerwa: {{ workTime.break | stringTimeConvert }}
                                                            </ion-text>
                                                            <p>
                                                                {{ workTime.startAt | stringTimeConvert }}
                                                                - {{ workTime.endAt | stringTimeConvert }}
                                                            </p>
                                                        </ion-note>
                                                    </ion-item>

                                                </ng-container>

                                            </ion-card-content>

                                        </ng-container>

                                        <ion-button (click)="addWorkTime(pws)" color="primary" expand="full"
                                                    fill="clear">
                                            <ion-icon name="custom-time-outline" slot="start"></ion-icon>
                                            Dodaj czas pracy
                                        </ion-button>

                                        <ion-button (click)="deleteService(pws)" color="danger" expand="full"
                                                    fill="clear">
                                            <ion-icon name="custom-trash-outline" slot="start"></ion-icon>
                                            Usuń
                                        </ion-button>

                                    </ion-card>

                                </ion-col>

                            </ng-container>


                        </ng-container>

                    </ion-row>
                </ion-col>
                <ion-col offset-md="3" size="12" size-md="6">
                    <ion-button (click)="save()" [disabled]="pwsList.length === 0" color="tertiary" expand="block">
                        Zapisz
                    </ion-button>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngSwitchCase="'company'">

            <ion-row class="ion-padding-top ion-margin-top">

                <ion-col size="12" class="ion-text-center">

                    Skontaktuj się z nami

                    <p>
                        <ion-text color="medium">
                            Również możemy zmienić istniejącą jedno osobową na zespołową.
                        </ion-text>
                    </p>

                </ion-col>

            </ion-row>

        </ng-container>

    </ng-container>

    <app-footer></app-footer>

</ion-content>
