<ion-content>
    <app-header></app-header>

    <ion-refresher (ionRefresh)="refreshContent($event)" slot="fixed">

        <ion-refresher-content
                pullingText="Pociągnij aby odświeżyć.."
                refreshingText="Odświeżanie...">
        </ion-refresher-content>

    </ion-refresher>

    <app-default-container [item$]="worker$" (onRefresh)="refreshContent($event)">

        <ng-container *ngIf="worker$ | async as worker">

            <ng-container *ngIf="onIsMobile$ | async as isMobile; else isNotMobileTemplate">
                <ng-container *ngTemplateOutlet="publicProfile">

                </ng-container>

                <ion-item lines="none">
                    <ion-label>
                        Menu
                    </ion-label>
                </ion-item>
                <ion-card>
                    <ion-item [routerLink]="'calendar'"
                              lines="full" button>
                        <ion-icon name="custom-calendar-outline" slot="start"></ion-icon>
                        <ion-label>Rezerwacji</ion-label>
                    </ion-item>
                    <ion-item [routerLink]="'service-list'"
                              lines="none" button>
                        <ion-icon name="custom-hammer-outline" slot="start"></ion-icon>
                        <ion-label>Usługi</ion-label>
                    </ion-item>
                </ion-card>
                <ng-container *ngTemplateOutlet="fastAccess">

                </ng-container>

            </ng-container>

            <ng-template #isNotMobileTemplate>

                <ion-row>
                    <ion-col size="12" size-md="3">
                        <ng-container *ngTemplateOutlet="publicProfile">

                        </ng-container>
                        <ion-item lines="none">
                            <ion-label>
                                Menu
                            </ion-label>
                        </ion-item>
                        <ion-card>
                            <ion-item [color]="getColorItemMenu('reservations')" (click)="selectPage('reservations')"
                                      lines="full" button>
                                <ion-icon name="custom-calendar-outline" slot="start"></ion-icon>
                                <ion-label>Rezerwacji</ion-label>
                            </ion-item>
                            <ion-item [color]="getColorItemMenu('services')" (click)="selectPage('services')"
                                      lines="none" button>
                                <ion-icon name="custom-hammer-outline" slot="start"></ion-icon>
                                <ion-label>Usługi</ion-label>
                            </ion-item>
                        </ion-card>
                        <ng-container *ngTemplateOutlet="fastAccess">

                        </ng-container>
                    </ion-col>
                    <ion-col size="12" size-md="9">
                        <ng-container [ngSwitch]="selectedPage">
                            <ng-container *ngSwitchCase="'services'">

                                <app-service-list [useLikeComponent]="true">

                                </app-service-list>

                            </ng-container>
                            <ng-container *ngSwitchCase="'reservations'">

                                <app-calendar [useLikeComponent]="true" [refresh]="refreshComponent">

                                </app-calendar>

                            </ng-container>
                        </ng-container>
                    </ion-col>
                </ion-row>

            </ng-template>

            <ng-template #publicProfile>
                <ion-item lines="none">
                    <ion-label>
                        Profil publiczny
                    </ion-label>
                    <ion-buttons slot="end">
                        <ion-button (click)="openPopover($event)">
                            <ion-icon ios="custom-ellipsis-vertical" md="custom-ellipsis-vertical"
                                      slot="icon-only"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-item>
                <ion-card>
                    <ion-item lines="none">
                        <ion-avatar slot="start">
                            <app-img
                                    [isAvatar]="true"
                                    [src]="worker.photo">
                            </app-img>
                        </ion-avatar>
                        <ion-label>
                            <h3>
                                {{ worker.firstName }}
                                {{ worker.lastName }}
                            </h3>
                            <p>
                                <ion-text color="medium">
                                    <small>{{ worker.createdAt }}</small>
                                </ion-text>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-card>
            </ng-template>
            <ng-template #fastAccess>
                <ion-item lines="none">
                    <ion-label>
                        Szybki dostęp
                    </ion-label>
                </ion-item>
                <ion-card>
                    <ion-item button
                              disabled lines="full">
                        <ion-icon name="custom-calendar-outline" slot="start"></ion-icon>
                        <ion-label>Dodaj rezerwację</ion-label>
                        <ion-icon name="custom-lock-closed-outline" slot="end"></ion-icon>
                    </ion-item>
                </ion-card>
            </ng-template>


        </ng-container>


    </app-default-container>

    <app-footer></app-footer>

</ion-content>
