@media screen and (max-width: 767px) {

  .worker-card {
    display: flex;

    .card-content {
      flex-direction: column;

    }

  }


}

@media screen and (min-width: 768px) {

  //.worker-card {
  //
  //  ion-card-content {
  //    padding-top: 16px;
  //
  //  }
  //
  //}


}
