.worker-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: auto;
  transition: .5s;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    box-shadow: rgb(0 0 0 / 25%) 0px 3px 15px -2px, rgb(0 0 0 / 25%) 0px 2px 20px 0px, rgb(0 0 0 / 25%) 0px 1px 5px 0px;

  }

  &.close {
    height: 295px;

    ion-card-content {
      //-moz-box-shadow: inset 0 -10px 10px -10px #000000;
      //-webkit-box-shadow: inset 0 -10px 10px -10px #000000;
      //box-shadow: inset 0 -10px 10px -10px #000000;


    }

  }

  .card-header {
    position: relative;

    &-reservation {

      &-date {
        position: absolute;
        top: 9px;
        height: 26px;
        padding: 6px;
        left: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 20px;

      }

      &-time {
        position: absolute;
        top: 44px;
        height: 26px;
        padding: 6px;
        left: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 20px;

      }

    }

    &-enabled {
      position: absolute;
      top: 16px;
      height: 26px;
      padding: 6px;
      left: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 20px;
      font-weight: bold;
      font-size: 13px;
      color: var(--ion-color-danger);

      &.is-enabled {
        color: var(--ion-color-success);
      }

    }

    &-score {
      position: absolute;
      bottom: -13px;
      height: 26px;
      padding: 6px;
      left: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 20px;

      bar-rating {

        .br {
          padding: 0;
          margin: 0;
          width: 80px;

          .br-unit {
            height: 25px;

          }

        }

      }

    }

    .worker {

      ion-avatar {
        position: absolute;
        bottom: -25px;
        left: 18px;
        border: 2px solid white;
        width: 50px;
        height: 50px;

      }

      &-full-name {
        position: absolute;
        font-size: 13px;
        left: 75px;
        bottom: -25px;

      }

    }

    .information {
      position: absolute;
      right: 18px;
      bottom: -20px;
      text-align: center;
      color: white;
      //border: 2px solid;
      font-size: 12px;
      font-weight: 600;
      border-radius: 10px;
      //height: 43px;
      box-shadow: 0 0 5px rgb(0 0 0 / 50%);

      .interval {
        border-radius: 8px 8px 0 0;
        width: 100%;
        height: 25px;
        border-bottom: 1px dashed white;
        display: flex;
        color: #263238;
        background: var(--ion-color-warning);
        padding: 0 10px;
        align-items: center;
        justify-content: center;

      }

      .price {
        border-radius: 0 0 8px 8px;
        width: 100%;
        height: 20px;
        padding: 0 10px;
        display: flex;
        color: #263238;
        background: var(--ion-color-warning);
        align-items: center;
        justify-content: center;

      }

    }

  }

  .card-content {
    display: flex;
    margin-top: 10px;
    padding: 18px;
    flex-direction: column;

    .category-name {
      color: var(--ion-color-medium);
      font-size: 11px;

    }

    .service-name {
      font-weight: bold;
      text-align: left;

    }

    .company {
      margin-top: 10px;
      //position: absolute;
      //top: 10px;
      //left: 18px;
      //border-radius: 10px;
      //z-index: 1;
      /* height: 31px; */
      padding: 3px 6px 3px 0px;
      align-items: center;
      display: flex;
      /* justify-content: space-between; */
      /* border: 10px; */
      //background: rgba(0,0,0,0.1);

      ion-avatar {
        width: 20px;
        height: 20px;
        margin-right: 5px;

      }

      &-name {
        font-size: 11px;
        font-weight: 600;

      }

    }

    .worker {
      margin-top: 10px;
      display: flex;
      align-items: center;

      ion-avatar {
        width: 30px;
        height: 30px;
        margin-right: 5px;

      }

      &-right {

        &-full-name {
          font-size: 11px;
          font-weight: 600;
          text-align: left;

        }

        &-score {
          width: 75px;

          .br {
            margin: 0;

            .br-unit {
              height: 15px;

            }

          }

        }

      }

    }

    ion-card-header {
      width: 100%;
      display: flex;
      flex-direction: column;

      .header {
        width: 100%;
        display: flex;

        ion-card-subtitle {

          &.rating {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: .5s;

            &:hover {

              small {
                color: var(--ion-color-warning);
                text-decoration: underline;

              }

            }

            small {
              margin-left: 5px;
              margin-top: 2px;
              transition: .5s;

            }

          }

          bar-rating {

            .br {
              margin: 0;
              width: 80px;

            }

          }

        }

      }

      ion-item {

        ion-icon {
          margin-top: 4px;
          margin-bottom: 4px;

        }

        bar-rating {
          width: 100px;

          .br {
            margin: 0;
            padding: 0;
          }

        }

      }

      .ion-item-comment {
        line-height: 1.1;
        color: var(--ion-color-medium);
        padding-bottom: 10px;

      }

    }

  }

  .card-footer {
    display: flex;
    padding: 0 18px 18px 18px;
    flex-direction: column;

  }

}
