
/* poppins-regular - latin-ext_latin_devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/assets/fonts/poppins/poppins-v15-latin-ext_latin_devanagari-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* poppins-600 - latin-ext_latin_devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''),
  url('/assets/fonts/poppins/poppins-v15-latin-ext_latin_devanagari-600.ttf') format('truetype'), /* Safari, Android, iOS */
}
