<ion-content>

    <app-header></app-header>
    <form [formGroup]="form">

        <ion-row>

            <ion-col offset-md="3" size-md="6">

                <div class="ion-text-center">
                    <h4>Dane dostępowe</h4>
                </div>

            </ion-col>

        </ion-row>
        <ion-row>

            <ion-col offset-md="3" size-md="6">


                <div class="form-field">

                    <app-input [formControlName]="'email'"
                               [placeholder]="'E-mail'"
                               class="form-item">
                    </app-input>
                </div>

                <div class="form-field password-field">

                    <app-input [formControlName]="'password'"
                               [invalidMessage]="getPasswordCheckerMessage()"
                               [placeholder]="'Hasło'"
                               [showVisibilityIcon]="true"
                               [type]="'password'"
                               class="form-item">
                    </app-input>

                    <span *ngIf="isInvalid('password')"
                          class="invalid-text">Minimalna liczba znaków - 6</span>
                </div>

                <div class="form-field password-field">

                    <app-input [formControlName]="'password2'"
                               [invalidMessage]="getPasswordCheckerMessage()"
                               [placeholder]="'Powtórz hasło'"
                               [showVisibilityIcon]="true"
                               [type]="'password'"
                               class="form-item">
                    </app-input>

                    <span *ngIf="isInvalid('password2')"
                          class="invalid-text">Minimalna liczba znaków - 6</span>
                </div>

            </ion-col>

        </ion-row>
        <ion-row>

            <ion-col offset-md="3" size-md="6">

                <div class="ion-text-center">
                    <h4>Dane personalne</h4>
                </div>

            </ion-col>

        </ion-row>
        <ion-row>

            <ion-col offset-md="3" size-md="6">

                <div class="form-field">

                    <app-input [formControlName]="'firstName'"
                               [placeholder]="'Imię'">
                    </app-input>

                </div>

                <div class="form-field">

                    <app-input [formControlName]="'lastName'"
                               [placeholder]="'Nazwisko'">
                    </app-input>

                </div>

                <div class="form-field">

                    <app-input [formControlName]="'phone'"
                               [placeholder]="'Nr telefonu'"
                               type="phone">
                    </app-input>

                </div>

            </ion-col>

        </ion-row>
        <ion-row>

            <ion-col offset-md="3" size-md="6">

                <div class="ion-text-center">
                    <h4>Zgody</h4>
                </div>

            </ion-col>

        </ion-row>
        <ion-row>

            <ion-col offset-md="3" size-md="6">

                <app-agreements
                        (agreementsValid)="getAgreementsValidity($event)"
                        (onValue)="getAgreements($event)"
                        [agreements]="agreementList"
                        [submitted]="form.touched">

                </app-agreements>

            </ion-col>

        </ion-row>
        <ion-row>

            <ion-col offset-md="3" size-md="6">


                <ion-button (click)="registration()" color="tertiary" expand="block">
                    Stwórz konto
                </ion-button>

            </ion-col>

        </ion-row>

    </form>

    <app-footer></app-footer>

</ion-content>
