<ion-header translucent>
  <ion-toolbar>
    <ion-title mode="ios" class="multilines">
      <ion-text class="ion-text-wrap">
        Edycja
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
          <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refreshContent($event)" slot="fixed">

    <ion-refresher-content
            pullingText="Pociągnij aby odświeżyć.."
            refreshingText="Odświeżanie...">
    </ion-refresher-content>

  </ion-refresher>

  <app-default-container [item$]="profile$" (onRefresh)="refreshContent()">

    <ng-container *ngIf="profile$ | async as profile;">

      <ion-row>

        <ion-col>

          <div class="ion-text-center">
            <h4>Grafika</h4>
          </div>

        </ion-col>

      </ion-row>
      <ion-row>

        <ion-col>

          <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="1"
                  [onlyScaleDown]="false"
                  [roundCropper]="false"
                  format="jpg"
                  outputType="base64"
                  [autoCrop]="true"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()"
                  (cropperReady)="cropperReady()"
                  (loadImageFailed)="loadImageFailed()"
                  [alignImage]="'center'"
          ></image-cropper>

          <ng-container *ngIf="!croppedImage">

            <div *ngIf="profile && profile.photo && profile.photo.length > 0" class="service-image">
              <app-img [src]="profile.photo"></app-img>
            </div>

            <div (click)="openFileSelect()" class="select-file-input">

              <input #bannerInput type="file" (change)="fileChangeEvent($event)" />

              Kliknij aby wybrać zdjęcie

            </div>

          </ng-container>

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>

          <div class="ion-text-center">
            <h4>Informacja</h4>
          </div>

        </ion-col>

      </ion-row>

      <form [formGroup]="form">

        <app-input [formControlName]="'firstName'"
                   [placeholder]="'Imię:'">
        </app-input>

        <app-input [formControlName]="'lastName'"
                   [placeholder]="'Nazwisko:'">
        </app-input>

        <app-input [formControlName]="'birthday'"
                   [placeholder]="'Data urodzenia:'">
        </app-input>

        <div class="form-field">

          <app-input [formControlName]="'phone'"
                     [placeholder]="'Nr telefonu'"
                     type="phone">
          </app-input>

        </div>

      </form>


    </ng-container>

  </app-default-container>

</ion-content>

<ion-footer>

  <ng-container *ngIf="profile$ | async">

    <ion-button (click)="save()" class="ion-no-margin" color="tertiary" expand="full">
        Zapisz
    </ion-button>

  </ng-container>

</ion-footer>
