<ng-container *ngIf="categoryList">

    <ng-container *ngIf="UIList; else customTemplate">

        <ion-list [id]="'category-list'">

            <ng-container *ngFor="let model of categoryList.models; let categoryIndex = index; trackBy: trackByFn">

                <ng-container *ngIf="findChildWithService(model); else itsCategoryTemplate">

                    <!--        CHILDREN & HEADER        -->

                    <ng-container *ngIf="checkBtn(model)">
                        <ion-item class="ion-padding-start" button (click)="selectCategory(model)">

                            {{ model.name }}

                        </ion-item>
                    </ng-container>

                </ng-container>

                <ng-template #itsCategoryTemplate>

                    <!--    HEADER    -->

                    <ion-item-divider sticky>
                        <ion-label>{{ model.name }}
                        </ion-label>
                    </ion-item-divider>

                    <div class="ion-padding-start">

                        <app-category-component
                                [categoryList]="{
                                        total: model.children.length,
                                        models: model.children
                                    }"
                                [lastLikeBtn]="lastLikeBtn"
                                [level]="level+1"
                                [UIList]="UIList"
                                (selectedCategory)="selectCategory($event)">

                        </app-category-component>

                    </div>

                </ng-template>


            </ng-container>

        </ion-list>
    </ng-container>

    <ng-template #customTemplate>

        <ion-row class="custom-style" [id]="'category-list'">

            <ng-container *ngFor="let model of categoryList.models; let categoryIndex = index; trackBy: trackByFn">

                <ng-container *ngIf="findChildWithService(model); else itsCategoryTemplate">

                    <!--        CHILDREN & HEADER        -->

                    <ng-container *ngIf="checkBtn(model)">

                        <ion-chip [title]="model.numberOfServices === 0 ? 'Wkrótce' : model.name" [disabled]="model.numberOfServices === 0" (click)="selectCategory(model)">
                            <ion-icon *ngIf="model.numberOfServices === 0" name="custom-lock-closed"></ion-icon>
                            <ion-label color="light">{{ model.name }}</ion-label>
                        </ion-chip>
                    </ng-container>

                </ng-container>

                <ng-template #itsCategoryTemplate>

                    <!--    HEADER    -->

                    <ion-col [sizeMd]="level === 0 ? 6 : 12" size="12">

                        <div class="item" [attr.data-level]="level" [attr.data-index]="categoryIndex" [style]="{
                                backgroundColor: model.color
                            }">
                            <div class="header">
                                <ion-icon *ngIf="model.icon && model.icon.length > 0"
                                          [name]="model.icon"></ion-icon>
                                {{ model.name }}
                            </div>
                            <div class="children">

                                <app-category-component
                                        [categoryList]="{
                                                total: model.children.length,
                                                models: model.children
                                            }"
                                        [lastLikeBtn]="lastLikeBtn"
                                        [level]="level+1"
                                        [UIList]="UIList"
                                        (selectedCategory)="selectCategory($event)">

                                </app-category-component>
                            </div>
                        </div>

                    </ion-col>

                </ng-template>


            </ng-container>

        </ion-row>

    </ng-template>


</ng-container>
