<ion-header translucent>
    <ion-toolbar>
        <ion-title mode="ios" class="multilines">
            <ion-text class="ion-text-wrap">
                {{ workTime ? 'Edycja czasu' : 'Dodawanie czasu' }}
            </ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <form [formGroup]="form">

        <ion-item class="ion-padding" color="tertiary" lines="none">
            <div>
                <ion-text>
                    Dodajesz czas w którym będzie dostępna usługa do rezerwacji u danego pracownika dla użytkowników
                    całej
                    platformy
                </ion-text>
                <br>
                <ion-text color="dark">
                    <small>
                        * Przerwa - możesz ustawić przerwę która biedzie dodawana do każdego slotu/terminu, np.: seans
                        ma 45 min a przerwa 15 min razem slot ma 1 godzinę
                    </small>
                </ion-text>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Dzień tygodnia:</ion-label>
            <ion-select cancelText="Anuluj" [formControlName]="'weekday'">
                <ion-select-option *ngFor="let day of  (null | weekdayName: 'getArray'); let index = index"
                                   [value]="index">{{ day }}</ion-select-option>
            </ion-select>
        </ion-item>

        <app-input [formControlName]="'startAt'"
                   [placeholder]="'Początek o:'"
                   type="datetime">
        </app-input>
        <app-input [formControlName]="'endAt'"
                   [placeholder]="'Koniec o:'"
                   type="datetime">
        </app-input>
        <app-input [formControlName]="'break'"
                   [placeholder]="'Przerwa:'"
                   type="datetime">
        </app-input>

    </form>
</ion-content>
<ion-footer>
    <ion-row>
        <ion-col *ngIf="workTime">
            <ion-button color="danger" expand="block" (click)="delete()">
                Usuń
            </ion-button>
        </ion-col>
        <ion-col>

            <ion-button (click)="save()" color="tertiary" expand="block">
                Zapisz
            </ion-button>

        </ion-col>
    </ion-row>
</ion-footer>
