<ion-content>

    <app-header></app-header>

    <div class="half-page">

        <ion-row>

            <ion-col size-xl="3">

            </ion-col>

            <ion-col size-xl="6">

                <form id="report-form">

                    <form [formGroup]="form">

                        <div class="report-message-wrapper">

                            <app-input [formControlName]="'description'"
                                       [placeholder]="'Opisz zaistniałą sytuację:'"
                                       [type]="'textarea'">
                            </app-input>
                        </div>

                        <ion-button (click)="sendReport()" color="tertiary" expand="block">Wyślij</ion-button>

                    </form>

                </form>

            </ion-col>

        </ion-row>

    </div>

    <app-footer>

    </app-footer>

</ion-content>
