<form [formGroup]="form"
      (keydown)="onEnter($event)">

  <ion-row>

    <ion-col [sizeMd]="sizeMd" [offsetMd]="offsetMd">

      <div class="from-group">

        <div class="form-field">

          <app-input [formControlName]="'email'"
                     [placeholder]="'E-mail'">
          </app-input>


        </div>

      </div>

      <div class="form-group">

        <div class="form-field password-field">

          <app-input
                  [showVisibilityIcon]="true"
                  [placeholder]="'Hasło'"
                  [type]="'password'"
                  [formControlName]="'password'">
          </app-input>

        </div>

      </div>

    </ion-col>

  </ion-row>
  <ion-row>

    <ion-col [sizeMd]="sizeMd" [offsetMd]="offsetMd">

      <ion-item class="ion-no-padding ion-no-margin no-inner-padding-end" lines="none">
        <ion-button (click)="forgotPassword()" color="tertiary" fill="clear" size="small" slot="end">
            Zapomniałem/am hasło
        </ion-button>

      </ion-item>

    </ion-col>

  </ion-row>
  <ion-row>

    <ion-col [sizeMd]="sizeMd" [offsetMd]="offsetMd">

        <ion-button (click)="login()" [disabled]="form.invalid" color="tertiary" expand="block" type="submit">Zaloguj
            się
        </ion-button>

    </ion-col>

  </ion-row>

</form>
<ion-row>

  <ion-col [sizeMd]="sizeMd" [offsetMd]="offsetMd">

    <div class="ion-text-center">
      <h3>Nie posiadasz konto?</h3>

        <ion-button (click)="dismissModal()" [routerLink]="'/auth/registration'" color="tertiary" fill="clear">
            Zarejestruj się
        </ion-button>
    </div>

  </ion-col>

</ion-row>
