<ng-container *ngIf="onlyError">
    <ng-container *ngTemplateOutlet="errorTemplate">
    </ng-container>
</ng-container>
<ng-container *ngIf="!onlyError">
    <ion-item [lines]="lines">

        <ng-container *ngIf="position">

            <ion-label
                    [color]="inputInvalid ? 'danger' : 'dark'"
                    [innerHTML]="(isRequired ? '* ' : '') + placeholder"
                    [position]="position"></ion-label>

        </ng-container>
        <ng-container *ngIf="!position">

            <ion-text
                    [color]="inputInvalid ? 'danger' : 'dark'"
                    [innerHTML]="(isRequired ? '* ' : '') + placeholder"></ion-text>

        </ng-container>
        <ng-container [ngSwitch]="type">

            <ng-container *ngSwitchCase="'textarea'">

                <ion-textarea
                        [value]="inputValue"
                        [disabled]="control.disabled"
                        [autoGrow]="true"
                        (change)="onChange($event)"
                        (keyup)="onChange($event)">

                </ion-textarea>

            </ng-container>

            <ng-container *ngSwitchCase="'range'">

                <ion-range
                        [value]="inputValue"
                        [disabled]="control.disabled"
                        (ionChange)="onChange($event)"
                        (change)="onChange($event)"
                        (keyup)="onChange($event)"
                        [min]="min"
                        [max]="max"
                        [step]="step"
                        [snaps]="snaps">

                    <ion-text slot="start">
                        {{ min }}
                    </ion-text>

                    <ion-text slot="end">
                        {{ max }}
                    </ion-text>

                </ion-range>

            </ng-container>

            <ng-container *ngSwitchCase="'money'">

                <ion-input
                        type="number"
                        inputmode="numeric"
                        [value]="inputValue"
                        [disabled]="control.disabled"
                        (change)="onChange($event)"
                        (keyup)="onChange($event)">

                </ion-input>

            </ng-container>


            <ng-container *ngSwitchCase="'toggle'">
                <ion-toggle
                        color="tertiary"
                        (ionChange)="onChange($event)"
                        [checked]="inputValue"
                        [disabled]="control.disabled"
                        slot="end">

                </ion-toggle>
            </ng-container>


            <ng-container *ngSwitchCase="'datetime'">
                <ion-datetime
                        (ionChange)="onChange($event)"
                        [disabled]="control.disabled"
                        [displayFormat]="displayFormat"
                        [minuteValues]="minuteValues"
                        [value]="inputValue">

                </ion-datetime>
            </ng-container>

            <ng-container *ngSwitchDefault>

                <ion-input
                        [type]="type"
                        [value]="inputValue"
                        [disabled]="control.disabled"
                        (change)="onChange($event)"
                        (keyup)="onChange($event)">

                </ion-input>

            </ng-container>

        </ng-container>


        <ng-container *ngIf="showVisibilityIcon">
            <ion-icon name="custom-{{ isPasswordHidden() ? 'eye-off-outline' : 'eye-outline' }}" slot="end"
                      (click)="togglePasswordType()" class="ion-align-self-center app-input-icon"></ion-icon>
        </ng-container>

        <ng-container *ngTemplateOutlet="errorTemplate">

        </ng-container>

    </ion-item>

</ng-container>

<ng-template #errorTemplate>
    <div
            [class.toggle]="type === 'toggle'"
            [class.disabled]="control.disabled"
            class="app-input-title">
        {{ warningMessage }}
    </div>
</ng-template>
