<ng-container *ngIf="worker">
  <ion-list lines="full">
    <ion-item>
      <ion-avatar class="ion-margin-end">
        <app-img [src]="getSrc(worker.photo)"></app-img>
      </ion-avatar>
      <ion-label>
        <h3>
          {{ worker.firstName }}
          {{ worker.lastName }}
        </h3>
        <p>
          <small>{{ worker.id }}</small>
        </p>
      </ion-label>
      <ion-badge>
        {{ worker.score }}
      </ion-badge>
    </ion-item>

    <ion-item lines="full">
      <strong>Stanowisko: </strong>
      <ion-text slot="end" class="ion-text-end">{{ worker.position }}</ion-text>
    </ion-item>

    <ion-item lines="full">
      <strong>Data dodania: </strong>
      <ion-text slot="end" class="ion-text-end">{{ worker.createdAt }}</ion-text>
    </ion-item>

    <ion-item lines="full">
      <strong>Ostatnia zmiana: </strong>
      <ion-text slot="end" class="ion-text-end">{{ worker.updatedAt }}</ion-text>
    </ion-item>

  </ion-list>
</ng-container>
