<ion-content>

    <app-header></app-header>

    <div class="half-page ion-text-center">

        <div id="about-page">

            <div class="banner">

                <img src="../../../assets/images/banner.png" alt="">

            </div>

        </div>

        <h1>
            O nas
        </h1>

        <h4>
            Jesteśmy małym zespołem i tworzymy coś dla ciebie.
        </h4>

    </div>

    <app-footer>

    </app-footer>

</ion-content>
