.calendar-col {
  border-right: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  position: sticky;
  top: 0;
  height: calc(100vh - 64px);

  .calendar {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));

    &__navs {
      background-color: #f9a825;
    }
    &__month-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      color: #fff;
      span {
        line-height: 1;
      }
    }
    &__year-nav {
      height: 100%;
      padding: 3px 40px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #fff;
    }
    &__day-names {
      display: flex;
      flex-direction: row;
      background-color: #f9a825;
      border-top: 1px solid #fff;
      padding: 0 5px;
      justify-content: space-between;
    }
    &__day-name {
      color: #fff;
    }
    &__weeks {
      display: flex;
      flex-direction: column;
      padding: 5px;
      background-color: #fff;
    }
    &__week {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__date, &__day-name {
      text-align: center;
      padding: 3px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__date {
      height: 40px;
      width: 40px;
      position: relative;
      &:after {
        content: '';
        height: 30px * 0.9;
        width: 30px * 0.9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: all 1s;
        z-index: 1;
      }
      &:hover {
        cursor: pointer;
        color: #fff;
        &:after {
          background-color: #f9a825;
          box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.08);
          opacity: .6;
        }
      }
      &.disabled {
        pointer-events: none;
        color: #e0e0e0;
      }
      &.selected {
        color: #fff;
        &:after {
          background-color: #f9a825;
          box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.18);
        }
        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }
      &.today {
        font-weight: bold;
      }
    }
    &__number {
      z-index: 10;
      font-size: 14px;

      ion-badge {
        position: absolute;
        right: -5px;
        top: 5px;
        font-weight: 600;
        font-size: 11px;
        padding: 3px;
        /* opacity: 0.8; */
        border-radius: 50%;
        width: 16px;
        height: 16px;

      }

    }
  }

  .icon_calendar {
    display: block;
    width: 17px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 10px;
  }

}
