<ion-app>
    <ng-container *ngIf="onIsMobile() | async as isMobile; else isNotMobileTemplate">
        <ion-split-pane contentId="main-content">
            <ion-menu menu-id="side-menu" id="side-menu" contentId="main-content" type="reveal">

                <ion-header>
                    <ion-toolbar>
                        <ion-title mode="ios" class="multilines">
                            <ion-text class="ion-text-wrap">
                                reservation-platform
                            </ion-text>
                        </ion-title>
                    </ion-toolbar>
                </ion-header>

                <ion-content>
                    <app-side-menu></app-side-menu>
                </ion-content>

            </ion-menu>

            <div class="ion-page client" id="main-content">
                <ion-tabs id="main">
                </ion-tabs>
            </div>

        </ion-split-pane>
    </ng-container>
    <ng-template #isNotMobileTemplate>
        <div class="ion-page client" id="main-content-desktop">
            <ion-tabs id="main-desktop">
            </ion-tabs>
        </div>
    </ng-template>

</ion-app>
