#about-page {

  .banner {
    border-radius: 25px;
    background: #f9c40a;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      max-width: 500px;

    }

  }

}
