@import "src/styles/global/global";

.calendar-days-slots {

  &__header {

    &__prev-day {

    }

    &__month-name {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      strong {
        position: relative;
        margin: 0 9px;

      }

      &__year {
        position: absolute;
        bottom: -12px;
        left: 0;
        font-weight: normal;
        font-size: x-small;
        color: #9e9e9e;
        width: 100%;
        text-align: center;

      }

    }

    &__next-day {

    }

  }

  &__content {

    &__loader {
      @include hide();

    }

    &__days-with-slots {
      display: flex;
      justify-content: space-between;
      @include hide();

      &__day {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__header {

          &__day-name {
            font-size: 13px;

          }

          &__day-number {
            display: flex;
            justify-content: center;


          }


        }

        &__slots {
          width: 100%;
          padding: 0 3px;

          ion-button {
            width: 100%;

          }

          &__reservation {
            cursor: pointer;
            transition: .125s;
            border-radius: 4px;
            margin-bottom: 6px;
            //background: var(--ion-color-dark);
            font-weight: 600;
            font-size: 12px;
            color: #212121;
            background: #ffecb3;
            padding: 10px;
            text-align: left;

            &:hover {
              border-radius: 4px;
              transform: scale(1.05);
              z-index: 1;
            }

            &__service-name {
              font-weight: normal;

            }

            p {
              margin: 0;
              padding: 0;

            }

          }

        }

      }

    }

  }

}
