.ios-arrow {
  user-select: none;

  svg {
    width: 50px;
    cursor: pointer;
    height: auto;
    transition: all 0.3s;
  }

  &:hover {
    svg {
      opacity: 0.8;
    }
  }

  &.disabled {
    pointer-events: none;

    svg {
      opacity: 0.6;
    }
  }

}
