<ng-container *ngIf="item$ | async as item; else loadingTemplate">

    <ng-container *ngIf="isNotEmpty(item) && (hasModels ? item['total'] > 0 : true); else itemIsEmptyTemplate">

        <ng-content>

        </ng-content>

        <div *ngIf="useLoadMoreData" class="infinite-scroll">
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
                <ion-infinite-scroll-content
                        loadingSpinner="crescent"
                        loadingText="Pobieranie danych...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>

    </ng-container>

</ng-container>

<ng-template #loadingTemplate>

    <div [class.half-page]="halfContentHeight">

        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <ion-spinner name="crescent"></ion-spinner>
            </ion-col>
        </ion-row>

    </div>

</ng-template>

<ng-template #itemIsEmptyTemplate>

    <div [class.half-page]="halfContentHeight" [class.ion-margin-top]="ionMarginTop">

        <ion-row>
            <ion-col size="12" class="ion-text-center">

                <ion-text color="medium">
                    {{ noDataText }}
                </ion-text>

            </ion-col>

            <ng-container *ngIf="useRefreshButton">

                <ng-container *ngIf="showRefreshButton">

                    <ion-col size="12" class="ion-text-center">

                        <ion-button (click)="refresh()" color="tertiary" fill="clear">
                            Spróbuj ponownie
                        </ion-button>

                    </ion-col>

                </ng-container>

<!--                <ng-container *ngIf="showRefreshButton; else showTimerForRefreshButton">-->

<!--                    <ion-col size="12" class="ion-text-center">-->

                <!--                        <ion-button (click)="refresh()" fill="clear" color="tertiary">-->
                <!--                            Spróbuj ponownie-->
<!--                        </ion-button>-->

<!--                    </ion-col>-->

<!--                </ng-container>-->

<!--                <ng-template #showTimerForRefreshButton>-->

<!--                    <ion-col size="12" class="ion-text-center">-->

<!--                        <ion-text color="medium">-->
<!--                            {{ seconds }}-->
<!--                        </ion-text>-->

<!--                    </ion-col>-->

<!--                </ng-template>-->

            </ng-container>

        </ion-row>

    </div>

</ng-template>
