
<ion-content>

    <app-header></app-header>
    <ion-refresher (ionRefresh)="refreshContent($event)" slot="fixed">

        <ion-refresher-content
                pullingText="Pociągnij aby odświeżyć.."
                refreshingText="Odświeżanie...">
        </ion-refresher-content>

    </ion-refresher>

    <app-banner>

    </app-banner>

<!--    <app-client-search-component>-->

    <!--    </app-client-search-component>-->

    <app-category-list-component
            [lastLikeBtn]="true">

    </app-category-list-component>

    <app-footer></app-footer>

</ion-content>
