<ion-header translucent>
    <ion-toolbar>
        <ion-title mode="ios" class="multilines">
            <ion-text class="ion-text-wrap">
                Filtrowanie
            </ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="form">
        <ion-list>
            <ion-item>
                <ion-label>Status</ion-label>
                <ion-select multiple cancelText="Anuluj" [formControlName]="'status'" placeholder="Wybierz">
                    <ion-select-option *ngFor="let status of  (null | reservationStatus: 'getArray'); let index = index" [value]="index">{{ status }}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Opłata</ion-label>
                <ion-select cancelText="Anuluj" [formControlName]="'charge'" placeholder="Wszystkie">
                    <ion-select-option [value]="null">Wszystkie</ion-select-option>
                    <ion-select-option [value]="0">Nie opłacony</ion-select-option>
                    <ion-select-option [value]="1">Opłacone</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

    </form>

</ion-content>

<ion-footer>

    <ion-button (click)="save()" class="ion-no-margin" color="tertiary" expand="full">
        Zapisz
    </ion-button>

</ion-footer>
