//#banner-component {
//  width: 100%;
//  max-height: 350px;
//  min-height: 150px;
//  //border-radius: 25px;
//  transition: .5s;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  font-size: x-large;
//  color: white;
//  font-weight: bold;
//  text-transform: uppercase;
//  text-align: center;
//  position: relative;
//  //background: #f9a825;
//  background: url("../../../assets/images/_banner.png") repeat-x;
//
//  //&:before {
//  //  content: " ";
//  //  position: absolute;
//  //  width: calc(100% - 20px);
//  //  height: calc(100% - 20px);
//  //  left: 10px;
//  //  top: 10px;
//  //  border-radius: 25px;
//  //}
//
//}

.banner-component {
  width: 100%;
  max-height: 400px;
  min-height: 350px;
  background: var(--ion-color-tertiary);
  border-radius: 20px;
  padding: 18px;
  transition: .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  margin-bottom: 5px;

  &-title {
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: bold;

  }

  &-content {
    margin-top: 18px;

    p {
      margin: 0;
      margin-bottom: 18px;

    }

  }

}
