@media screen and (min-width: 768px) {

  #banner-component {
    min-height: 350px;

  }

}
@media screen and (max-width: 767px) {

  #banner-component {
    background-size: contain;
    background-position: center;

  }

}
