<ion-list>
    <ion-item (click)="openForm()" button lines="none">
        Edytuj
    </ion-item>
    <ion-item (click)="openChangePassword()" button lines="none">
        Zmiana hasła
    </ion-item>
    <ion-item (click)="openDeleteAccount()" [disabled]="true" button lines="none">
        <ion-icon color="danger" name="custom-lock-closed-outline"></ion-icon>
        <ion-text color="danger">
            Usuń konto
        </ion-text>
    </ion-item>
</ion-list>
