.comment-list {

  &-item {
    //margin-bottom: 16px;
    border-top: 1px dashed var(--ion-color-light-shade);

    &:first-of-type {
      border-top: unset;

    }

    ion-card-header {
      display: flex;
      padding: 16px 0;

      ion-avatar {
        margin-right: 18px;

      }

      &-right {


      }

    }

    ion-card-content {
      padding: 16px;

    }

  }

}
