<ion-card class="ion-no-margin-start ion-no-margin-end worker-card">

    <div (click)="openReservation()">

        <ng-container
                *ngIf="item.service.images && item.service.images.length > 0 && item.service.images[0].link && item.service.images[0].link.length > 0">

            <div class="card-header">
                <app-img
                        [alt]="item.service.images[0].name"
                        [src]="item.service.images[0].link"
                        [useAspectRation]="true">

                </app-img>
                <div class="card-header-reservation">
                    <div class="card-header-reservation-date">
                        Kiedy: &nbsp;<strong>{{ item.date }}</strong>
                    </div>
                    <div class="card-header-reservation-time">
                        <ion-text>
                            Początek o: &nbsp;<strong>{{ item.startAt | stringTimeConvert }}</strong>
                        </ion-text>
                    </div>
                </div>
                <div class="card-header-score">
                    <ion-text
                            [color]="colorStatus()">
                        <small>{{ item.status | reservationStatus }}</small>
                    </ion-text>
                </div>
                <div class="information">
                    <div class="interval">
                        <ion-icon name="custom-stopwatch-outline"></ion-icon>
                        {{ item.interval | stringTimeConvert }}
                    </div>
                    <div class="price">
                        {{ item.price }}{{ item.priceTo ? ' - ' + item.priceTo : '' }}&nbsp;zł
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="card-content">

            <ng-container *ngIf="item.service.categoryName">
                <div class="category-name">
                    {{ item.service.categoryName }}
                </div>
            </ng-container>
            <div [innerHTML]="item.service.name" class="service-name">
            </div>

            <ng-container *ngIf="role === roles.CLIENT">
                <div *ngIf="item?.worker?.company?.typeCompanyId > 1" class="company">
                    <ion-avatar>
                        <app-img [isAvatar]="true" [src]="item.worker.company.logoLink"></app-img>
                    </ion-avatar>
                    <div class="company-name">
                        <ion-text color="medium">
                            {{ item.worker.company.name }}
                        </ion-text>
                    </div>
                </div>

            </ng-container>

            <div class="worker">
                <ion-avatar>
                    <app-img [isAvatar]="true" [src]="item.worker.photo"></app-img>
                </ion-avatar>
                <div class="worker-right">
                    <div class="worker-right-full-name">
                        <ion-text color="medium">
                            {{ item.worker.firstName }} {{ item.worker.lastName }}
                        </ion-text>
                    </div>
                    <div class="worker-right-score">

                        <bar-rating [rate]="item.worker.score" [readOnly]="true" [theme]="'stars'"></bar-rating>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-footer">

        <ng-container *ngIf="role === roles.CLIENT">

            <ng-container *ngIf="isHistory">
                <ng-container *ngIf="item.reservationUser.numberOfComments > 0; else commentBtnTemplate">
                    <ion-button (click)="openComment()"
                                class="ion-no-margin ion-margin-top ion-margin-bottom" color="success"
                                expand="block" size="small">
                        <ion-icon name="custom-chatbubble-outline"></ion-icon> &nbsp;
                        Mój komentarz i ocena
                    </ion-button>

                </ng-container>
                <ng-template #commentBtnTemplate>
                    <ion-button (click)="createComment()" [disabled]="commentIsBlocked"
                                class="ion-no-margin ion-margin-top ion-margin-bottom" color="success"
                                expand="block" size="small">
                        <ion-icon name="custom-chatbubble-outline"></ion-icon> &nbsp;
                        Komentuj i oceń
                    </ion-button>
                </ng-template>
                <ion-button class="ion-no-margin"
                            (click)="reCreate()" expand="block"
                            size="small" color="primary">
                    <ion-icon name="custom-refresh-outline"></ion-icon> &nbsp;
                    Ponownie
                </ion-button>
            </ng-container>

            <ng-container *ngIf="!isHistory">

                <ion-button class="ion-no-margin" expand="block" size="small"
                            [color]="item.charge === 1 ? 'success' : 'primary'"
                            [disabled]="item.charge === 1 || item.status !== 1">
                    <ion-icon name="custom-cash-outline"></ion-icon> &nbsp;
                    {{ item.charge === 1 ? 'Opłacone' : 'Opłać' }}
                </ion-button>

                <ng-container *ngIf="item.paymentIsImportant && !hideTimer">

                    <div class="ion-text-center ion-margin-top">
                        <span>
                            Wygasi za:
                        </span>
                        <span>
                            {{ timer | date: 'HH:mm:ss' }}
                        </span>
                    </div>

                </ng-container>

                <ng-container *ngIf="item.paymentIsImportant && hideTimer">

                    <div class="ion-text-center ion-margin-top">
                        <ion-text color="danger">
                            Czas wygasł
                        </ion-text>
                    </div>

                </ng-container>

            </ng-container>

        </ng-container>

    </div>

    <ion-button (click)="openPws()" expand="full" fill="clear">
        Przejdź do usługi
    </ion-button>

    <ng-content select="ion-footer"></ng-content>

</ion-card>
