<ion-content>

    <app-header></app-header>

    <div class="half-page">

        <h1>Baza wiedzy</h1>
        <ul>
            <li>
                <h3>Rola: użytkownik</h3>
                <ul>
                    <li>
                        <h4>Jak stworzyć konto?</h4>
                        <ul>
                            <li>
                                <p>
                                    Przejść do strony z formularzem do <a [routerLink]="['/auth', 'registration']">rejestracji</a>
                                    i wypełnić go, po tym kliknąć na przycisk "STWÓRZ KONTO".
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>Jak umówić się?</h3>
                        <ul>
                            <li>
                                <p>
                                    Po zalogowaniu potrzebnie przejść na stronę główną i wyszukać potrzebującą kategorię
                                    po tym wyszukać usługę wraz z prowadzącym, po otwieraniu nowej strony z usługą w
                                    kalendarzu wybrać termin, klikając na wybrany termin, pojawi się formularz, wypełnić
                                    i kliknąć dolny przycisk.
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Rola: Prowadzący</h3>
                <ul>
                    <li>
                        <h4>Jak podłączyć serwis zewnętrzny do tworzenia spotkań?</h4>
                        <ul>
                            <li>
                                <p>
                                    Po zalogowaniu klikając "Dodaj usługę" będzie możliwość wybrać serwis, który nadaje
                                    taką możliwość
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>Jak dodać usługę?</h4>
                        <ul>
                            <li>
                                <p>
                                    Po zalogowaniu oraz po połączeniu serwisu zewnętrznego potrzebnie kleknąć na
                                    przycisk "+" w prawym górnym rogu i wypełnić formularz.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>Jak dodać umówienie?</h4>
                        <ul>
                            <li>
                                <p>
                                    Przejść do listy usług i kliknąć na "Dodaj rezerwacje" na wybraną usługę.
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <app-footer>

    </app-footer>

</ion-content>
