.select-file-input {
  width: 100%;
  margin-top: 18px;
  border-radius: 5px;
  background: #EEEEEE;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  cursor: pointer;
  transition: .5s;
  padding: 18px;
  position: relative;
  border: 1px dashed #CCCCCC;

  &:hover {
    background: #DDDDDD;

  }

  input {
    visibility: hidden;
    position: absolute;

  }

}
