<ion-header translucent>
    <ion-toolbar>
        <ion-title class="multilines" mode="ios">
            <ion-text class="ion-text-wrap">
                Komentarz
            </ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="pws">

        <div class="pws-content">
            <ion-card class="pws-comment-list ion-no-margin ion-margin-bottom">

                <ng-container *ngIf="comment">
                    <div class="comment-list">

                        <div class="comment-list-item">

                            <ion-card-header>

                                <ion-avatar>
                                    <app-img [isAvatar]="true" [src]="comment.user.photo"></app-img>
                                </ion-avatar>
                                <div class="comment-list-item-right">
                                    <ion-card-subtitle>
                                        <ion-text color="medium">
                                            <small>Użytkownik</small>
                                        </ion-text>
                                    </ion-card-subtitle>
                                    <ion-card-subtitle>
                                        <strong>
                                            {{ comment.user.firstName }}
                                            {{ comment.user.lastName }}
                                        </strong>
                                    </ion-card-subtitle>
                                    <ion-card-subtitle class="score">
                                        <bar-rating [rate]="comment.score" [readOnly]="true"
                                                    [theme]="'stars'"></bar-rating>
                                    </ion-card-subtitle>
                                </div>

                            </ion-card-header>
                            <ion-card-content>

                                {{ comment.comment }}

                            </ion-card-content>

                        </div>

                    </div>
                </ng-container>
            </ion-card>

        </div>
    </div>


</ion-content>
