<div class="calendar-days-slots">
    <ng-container *ngIf="currentDate">

        <div class="calendar-days-slots__header">

            <ion-row>

                <ion-col size="3" class="ion-text-start">

                    <ion-button class="calendar-days-slots__header__prev-day" fill="clear" (click)="prevDays()">
                        <ion-icon name="custom-chevron-back-circle-outline" slot="icon-only"></ion-icon>
                    </ion-button>

                </ion-col>

                <ion-col size="6">

                    <div class="calendar-days-slots__header__month-name">

                        <strong>

                            {{ currentDate.format('DD.MM') }}
                            <small class="calendar-days-slots__header__month-name__year">{{ currentDate.format('YYYY') }}</small>

                        </strong>

                        -

                        <strong>

                            {{ currentDate.clone().add(daysCount - 1, 'days').format('DD.MM') }}
                            <small class="calendar-days-slots__header__month-name__year">{{ currentDate.clone().add(daysCount - 1, 'days').format('YYYY') }}</small>

                        </strong>

                    </div>

                </ion-col>

                <ion-col size="3" class="ion-text-end">

                    <ion-button class="calendar-days-slots__header__next-day" fill="clear" (click)="nextDays()">
                        <ion-icon name="chevron-forward-circle-outline" slot="icon-only"></ion-icon>
                    </ion-button>

                </ion-col>

            </ion-row>

        </div>

    </ng-container>

    <div class="calendar-days-slots__content">

        <div class="calendar-days-slots__content__loader show">

            <ion-row>

                <ion-col size="12" class="ion-text-center">
                    <ion-spinner name="crescent"></ion-spinner>
                </ion-col>

            </ion-row>

        </div>

        <div class="calendar-days-slots__content__days-with-slots hide">

            <ng-container *ngFor="let day of days; trackBy: trackByDayFn">

                <div class="calendar-days-slots__content__days-with-slots__day" [style]="dayConfig">

                    <div class="calendar-days-slots__content__days-with-slots__day__header">

                        <div class="calendar-days-slots__content__days-with-slots__day__header__day-name"
                             [innerHTML]="day.dayName">

                        </div>

                        <div class="calendar-days-slots__content__days-with-slots__day__header__day-number">

                            <small [innerHTML]="day.dayNumber"></small>

                        </div>

                    </div>
                    <div class="calendar-days-slots__content__days-with-slots__day__slots">

                        <ng-container *ngFor="let reservation of day.reservations; trackBy: trackByFn">

                            <div (click)="selectReservation(reservation)"
                                 class="calendar-days-slots__content__days-with-slots__day__slots__reservation {{ 'reservation-status-' + reservation.status }}">
                                <p>
                                    <strong>{{ reservation.startAt | stringTimeConvert }}</strong>
                                </p>
                                <ng-container *ngIf="reservation.users">
                                    <ng-container *ngFor="let user of reservation.users">
                                        <ng-container *ngIf="user.user; else showEmailTemplate">
                                            <p>{{ user.user.lastName }} {{ user.user.firstName }}</p>
                                        </ng-container>
                                        <ng-template #showEmailTemplate>
                                            <p>{{ user.email }}</p>
                                        </ng-template>
                                    </ng-container>
                                </ng-container>
                                <p class="calendar-days-slots__content__days-with-slots__day__slots__reservation__service-name">
                                    {{ reservation.service.name }}
                                </p>
                                <p>{{ reservation.status | reservationStatus }}</p>
                            </div>

                        </ng-container>

                    </div>

                </div>

            </ng-container>

        </div>

    </div>

</div>
<app-default-container
        (onRefresh)="refresh.emit()"
        [noDataText]="'Nie masz żadnej rezerwacje, możesz sam ją stworzyć na stronie z usługami.'"
        [item$]="reservationList$"
        [hasModels]="true">

</app-default-container>
