<ng-container *ngIf="useLikeComponent; else pageTemplate">

    <ng-container *ngTemplateOutlet="pageContent">

    </ng-container>

</ng-container>

<ng-template #pageTemplate>

    <ion-content>
        <app-header></app-header>

        <ion-refresher (ionRefresh)="refreshContent($event)" slot="fixed">

            <ion-refresher-content
                    pullingText="Pociągnij aby odświeżyć.."
                    refreshingText="Odświeżanie...">
            </ion-refresher-content>

        </ion-refresher>

        <ng-container *ngTemplateOutlet="pageContent">

        </ng-container>

        <app-footer></app-footer>

    </ion-content>

</ng-template>

<ng-template #pageContent>

    <ion-item lines="none">
        <ng-container *ngIf="!useLikeComponent">

            <ion-buttons slot="start">
                <ion-button (click)="back()">
                    <ion-icon name="custom-chevron-back-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ng-container>
        <ion-label>
            Lista usług
        </ion-label>

        <ion-buttons slot="end">
            <ion-button (click)="openPopover($event)">
                <ion-icon ios="custom-ellipsis-vertical" md="custom-ellipsis-vertical"
                          slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <app-default-container
            [item$]="onPwsList$"
            [hasModels]="true"
            [useLoadMoreData]="true"
            (onLoadMoreData)="loadData()"
            (onRefresh)="refreshContent()">

        <ng-container *ngIf="onPwsList$ | async as pwsList">

            <ion-row>

                <ng-container *ngFor="let item of pwsList.models; trackBy: trackByFn">

                    <ion-col size="12" size-xl="4" size-md="6" size-sm="6">

                        <app-client-worker-component
                                [role]="roles.COMPANY"
                                (refresh)="refreshContent()"
                                [item]="item">

                        </app-client-worker-component>

                    </ion-col>

                </ng-container>

            </ion-row>

        </ng-container>

    </app-default-container>


</ng-template>
