<ion-header translucent>
  <ion-toolbar>
    <ion-title class="multilines" mode="ios">
      <ion-text class="ion-text-wrap">
        Zmiana hasła
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refreshContent($event)" slot="fixed">

    <ion-refresher-content
            pullingText="Pociągnij aby odświeżyć.."
            refreshingText="Odświeżanie...">
    </ion-refresher-content>

  </ion-refresher>

  <form [formGroup]="form">

    <div class="form-field password-field">

      <app-input [formControlName]="'password'"
                 [invalidMessage]="'Minimalna liczba znaków - 6'"
                 [placeholder]="'Aktualne hasło'"
                 [showVisibilityIcon]="true"
                 [type]="'password'"
                 class="form-item">
      </app-input>

    </div>

    <div class="form-field password-field">

      <app-input [formControlName]="'newPassword'"
                 [invalidMessage]="'Minimalna liczba znaków - 6'"
                 [placeholder]="'Nowe hasło'"
                 [showVisibilityIcon]="true"
                 [type]="'password'"
                 class="form-item">
      </app-input>

    </div>

    <div class="form-field password-field">

      <app-input [formControlName]="'newPasswordRepeat'"
                 [invalidMessage]="form.controls['newPasswordRepeat'].hasError('MatchPassword') ? 'Hasła muszą się zgadzać' : 'Minimalna liczba znaków - 6'"
                 [placeholder]="'Powtórz nowe hasło'"
                 [showVisibilityIcon]="true"
                 [type]="'password'"
                 class="form-item">
      </app-input>
    </div>

  </form>
</ion-content>

<ion-footer>

  <ion-button (click)="save()" class="ion-no-margin" color="tertiary" expand="full">
    Zapisz
  </ion-button>

</ion-footer>
