<ion-content>

    <app-header></app-header>

    <div class="half-page">
        <article><h1 class="page-title text-center">Regulamin serwisu</h1>
            <h2>I. Zmiany Regulaminu</h2>
            <ul>
                <li>Wszelkie postanowienia Regulaminu mogą być w każdej chwili jednostronnie zmieniane przez
                    Usługodawcę, bez
                    podawania przyczyn.
                </li>
                <li>Informacja o zmianie Regulaminu będzie rozsyłana Drogą Elektroniczną do Usługobiorców
                    zarejestrowanych w
                    Serwisie.
                </li>
                <li>W przypadku zmiany Regulaminu jego postanowienia wchodzą w życie natychmiast po jego publikacji dla
                    Usługobiorców nieposiadających konta w Serwisie.
                </li>
                <li>W przypadku zmiany Regulaminu jego postanowienia wchodzą w życie z 7-dniowym okresem przejściowym
                    dla
                    Usługobiorców posiadających konta w Serwisie zarejestrowane przez zmianą Regulaminu.
                </li>
                <li>Traktuje się iż każdy Usługobiorca, kontynuujący korzystanie z Serwisu po zmianie Regulaminu
                    akceptuje go w
                    całości.
                </li>
            </ul>
        </article>
    </div>

    <app-footer>

    </app-footer>

</ion-content>
