<ion-header translucent>
    <ion-toolbar>
        <ion-title mode="ios" class="multilines">
            <ion-text class="ion-text-wrap">
                Wybierz kategorie
            </ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar (ionInput)="search($event)" animated></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-refresher (ionRefresh)="refreshContent($event)" slot="fixed">

        <ion-refresher-content
                pullingText="Pociągnij aby odświeżyć.."
                refreshingText="Odświeżanie...">
        </ion-refresher-content>

    </ion-refresher>

    <app-category-component
            [categoryList]="categoryList"
            [lastLikeBtn]="true"
            [UIList]="true"
            (selectedCategory)="selectCategory($event)">

    </app-category-component>

</ion-content>

<ng-container *ngIf="showAllCategoryBtn">
    <ion-footer class="ion-no-padding">
        <ion-button (click)="clearSelectedCategory()" class="ion-no-margin" color="danger" expand="full">
            Użyj wszystkie kategorie
        </ion-button>
    </ion-footer>
</ng-container>
