<ng-container *ngIf="service">

  <div *ngIf="service.images && service.images.length > 0 && service.images[0].link && service.images[0].link.length > 0" class="service-image">
    <app-img [src]="service.images[0].link"></app-img>
  </div>

  <ion-list lines="full">

    <ion-list-header color="light">
      Podstawowa informacja
    </ion-list-header>

    <ion-item>
      <ion-label position="stacked">
        Kategoria:
      </ion-label>
      <ion-text>{{ getCategory(service.categoryId).name }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Nazwa:
      </ion-label>
      <ion-text [innerHTML]="service.name"></ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Opis:
      </ion-label>
      <p class="ion-text-wrap" [innerHTML]="service.description"></p>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Cena:
      </ion-label>
      <ion-text>{{ service.price }}{{ service.priceTo ? ' - ' + service.priceTo : '' }} zł</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Interwal:
      </ion-label>
      <ion-text>{{ service.interval | stringTimeConvert }} godz.</ion-text>
    </ion-item>

    <ion-list-header color="light">
      Dodatkowa informacja
    </ion-list-header>

    <ion-item>
      <ion-label position="stacked">
        Usługa włączona:
      </ion-label>
      <ion-text>{{ service.enabled ? 'Tak' : 'Nie' }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Zniżka:
      </ion-label>
      <ion-text>{{ service.discount | defaultValueConvert }}</ion-text>
    </ion-item>

    <ng-container *ngIf="service.discount">

      <ion-item>
        <ion-label position="stacked">
          Zniżka w procentach?:
        </ion-label>
        <ion-text>{{ service.discountIsPercent ? 'Tak' : 'Nie' }}</ion-text>
      </ion-item>

    </ng-container>

    <ion-item>
      <ion-label position="stacked">
        Automatyczne anulowanie nie opłaconego umówienia za:
      </ion-label>
      <ion-text>{{ service.timerTimeForPay | stringTimeConvert }} godz.</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Opłata przez platformę jest obowiązkowa?:
      </ion-label>
      <ion-text>{{ service.paymentIsImportant ? 'Tak' : 'Nie' }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Najpóźniejsza godzina rezerwacji:
      </ion-label>
      <ion-text>{{ service.earliestReservationTime | defaultValueConvert }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Najpóźniejsza data rezerwacji:
      </ion-label>
      <ion-text>{{ service.earliestReservationDate | defaultValueConvert }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Najwcześniejsza data rezerwacji:
      </ion-label>
      <ion-text>{{ service.lastReservationDate | maxReservationDate }}</ion-text>
    </ion-item>

  </ion-list>

</ng-container>
