<div id="app-footer">

    <ng-container *ngIf="onIsMobile() | async as isMobile; else isNotMobileTemplate">

    </ng-container>
    <ng-template #isNotMobileTemplate>

        <ion-row>

            <ion-col size-sm="4">

                <div class="name-of-company">
                    <ion-text color="medium">
                        <strong>
                            Ivan Karbashevskyi
                        </strong>
                    </ion-text>
                </div>

            </ion-col>

            <ion-col size-sm="8">

                <div class="desktop-header-menu">
                    <ul>
                        <li [routerLink]="['/report']">
                            <ion-icon name="custom-bug-outline"></ion-icon>
                            Zgłoś usterkę
                        </li>
                        <li [routerLink]="['/documents']">
                            <ion-icon name="custom-document-text-outline"></ion-icon>
                            Dokumenty
                        </li>
                        <li [routerLink]="['/about']">
                            <ion-icon name="custom-information-circle-outline"></ion-icon>
                            O nas
                        </li>
                        <li [routerLink]="['/contact']">
                            <ion-icon name="mail-outline"></ion-icon>
                            Kontakt
                        </li>
                    </ul>
                </div>

            </ion-col>

        </ion-row>

    </ng-template>


</div>
