<app-default-container (onRefresh)="refreshContent($event)" [item$]="item$">

  <ng-container *ngIf="item$ | async as item;">

    <ion-card class="pws-comment-list ion-no-margin ion-margin-bottom">
      <div class="comment-list">

        <ng-container *ngFor="let comment of item.models">

          <div class="comment-list-item">

            <ion-card-header>

              <ion-avatar>
                <app-img [isAvatar]="true" [src]="comment.user.photo"></app-img>
              </ion-avatar>
              <div class="comment-list-item-right">
                <ion-card-subtitle>
                  <ion-text color="medium">
                    <small>Użytkownik</small>
                  </ion-text>
                </ion-card-subtitle>
                <ion-card-subtitle>
                  <strong>
                    {{ comment.user.firstName }}
                    {{ comment.user.lastName }}
                  </strong>
                </ion-card-subtitle>
                <ion-card-subtitle class="score">
                  <bar-rating [theme]="'stars'" [readOnly]="true"
                              [rate]="comment.score"></bar-rating>
                </ion-card-subtitle>
              </div>

            </ion-card-header>
            <ion-card-content>

              {{ comment.comment }}

            </ion-card-content>

          </div>

        </ng-container>

      </div>

    </ion-card>


    <div class="infinite-scroll">
      <ion-infinite-scroll (ionInfinite)="loadData($event)" threshold="100px">
        <ion-infinite-scroll-content
                loadingSpinner="crescent"
                loadingText="Pobieranie danych...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ng-container>

</app-default-container>
